---
http_interactions:
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/tags/gov.nasa.eosdis
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cmr-Request-Id:
      - e2fc24e7-7062-4577-9c26-b4644e5ad1ee
    body:
      encoding: UTF-8
      string: '{"tag_key":"gov.nasa.eosdis","description":"Data from a NASA Earth
        Observing System Data and Information System (EOSDIS) provider.","originator_id":"cduma1"}'
  recorded_at: Thu, 06 Apr 2017 12:39:33 GMT
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/ingest/providers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Cmr-Request-Id:
      - 51c5da2d-1c6c-456d-8058-023c5fb0ea66
    body:
      encoding: ASCII-8BIT
      string: '[{"provider-id":"LARC_ASDC","short-name":"LARC_ASDC","cmr-only":false,"small":false},{"provider-id":"USGS_EROS","short-name":"USGS_EROS","cmr-only":true,"small":false},{"provider-id":"ESA","short-name":"ESA","cmr-only":true,"small":false},{"provider-id":"GHRC","short-name":"GHRC","cmr-only":true,"small":false},{"provider-id":"LAADS","short-name":"LAADS","cmr-only":true,"small":false},{"provider-id":"OBPG","short-name":"OBPG","cmr-only":false,"small":false},{"provider-id":"OB_DAAC","short-name":"OB_DAAC","cmr-only":true,"small":false},{"provider-id":"ECHO","short-name":"EC[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?provider=NSIDCV0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Cmr-Hits:
      - '783'
      Cmr-Took:
      - '86'
      Cmr-Request-Id:
      - c563d916-4a7f-4ec6-882e-27bcae9c1ffd
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8"?><results><hits>783</hits><took>84</took><references><reference><name>17O
        Excess from WAIS Divide, 0 to 25 ka BP</name><id>C1219224219-NSIDCV0</id><location>https://cmr.earthdata.nasa.gov:443/search/concepts/C1219224219-NSIDCV0/3</location><revision-id>3</revision-id></reference><reference><name>AARI
        10-Day Arctic Ocean EASE-Grid Sea Ice Observations</name><id>C1220111374-NSIDCV0</id><location>https://cmr.earthdata.nasa.gov:443/search/concepts/C1220111374-NSIDCV0/8</location><revision-id>8</revision-id></reference><reference><name>Ablation
        Rates of Taylor Glacier, Antarctica</name><id>C1219224149-NSIDCV0</id><location>https://cmr.earthdata.nasa.gov:443/search/concepts/C1219224149-NSIDCV0/5</location><revision-id>5</revision-id>[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?provider=ORNL_DAAC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Cmr-Hits:
      - '1225'
      Cmr-Took:
      - '15'
      Cmr-Request-Id:
      - 870025bd-b7f5-43d1-9dbf-266b36b7239b
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" e[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?provider=LARC_ASDC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Cmr-Hits:
      - '602'
      Cmr-Took:
      - '9'
      Cmr-Request-Id:
      - 8ac1100f-4440-4940-9f2c-0370206511c6
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" enco[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?provider=LARC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Cmr-Hits:
      - '406'
      Cmr-Took:
      - '10'
      Cmr-Request-Id:
      - 5dfed4cc-06c5-4a2e-a5c1-0766302bb118
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?provider=LAADS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Cmr-Hits:
      - '131'
      Cmr-Took:
      - '16'
      Cmr-Request-Id:
      - 3154b388-a88d-4dd9-b6c4-e21e185306a2
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encodin[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?provider=USGS_LTA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Cmr-Hits:
      - '130'
      Cmr-Took:
      - '19'
      Cmr-Request-Id:
      - f31b2e1f-288e-4542-abf8-f7e6aac4360c
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" enco[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?provider=USGS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Cmr-Hits:
      - '0'
      Cmr-Took:
      - '127'
      Cmr-Request-Id:
      - ea96b436-c74d-45ad-9280-4dc4c18fa3a1
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><results><hits>0</hits><took>125</took><references></references></results>
  recorded_at: Thu, 06 Apr 2017 12:39:34 GMT
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?provider=GES_DISC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Cmr-Hits:
      - '1048'
      Cmr-Took:
      - '10'
      Cmr-Request-Id:
      - 9690da87-f3eb-4124-8ff6-4c9598785434
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" enc[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?provider=USGS_EROS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Cmr-Hits:
      - '11'
      Cmr-Took:
      - '15'
      Cmr-Request-Id:
      - 7f8cbee6-d2f1-4b3c-8f4c-527f693ab0f9
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" enco[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?provider=GHRC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Cmr-Hits:
      - '361'
      Cmr-Took:
      - '9'
      Cmr-Request-Id:
      - aa3303fb-e7a9-4760-99f4-291218f32a74
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding=[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?provider=SEDAC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Cmr-Hits:
      - '202'
      Cmr-Took:
      - '9'
      Cmr-Request-Id:
      - 0fb0cec1-50ae-47de-b92a-d0bfa1801dcb
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" encodin[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?provider=ASF
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Cmr-Hits:
      - '161'
      Cmr-Took:
      - '9'
      Cmr-Request-Id:
      - c089d8b1-26e8-4757-9eb1-c0eef84b0d42
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?provider=LPDAAC_ECS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Cmr-Hits:
      - '289'
      Cmr-Took:
      - '12'
      Cmr-Request-Id:
      - a4dfd9e7-5e32-431d-9dc1-ad691a811531
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" en[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?provider=LANCEMODIS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Cmr-Hits:
      - '154'
      Cmr-Took:
      - '11'
      Cmr-Request-Id:
      - bd26a170-e297-4ef8-bb88-79246297f934
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" en[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?provider=NSIDC_ECS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Cmr-Hits:
      - '228'
      Cmr-Took:
      - '9'
      Cmr-Request-Id:
      - 0524aecb-13ab-41c5-b48f-841abbbe17b1
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" enco[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?provider=OB_DAAC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Cmr-Hits:
      - '141'
      Cmr-Took:
      - '9'
      Cmr-Request-Id:
      - 5dd8fdb5-a0af-4723-9050-c5c965b130c4
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encodi[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?provider=CDDIS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Cmr-Hits:
      - '38'
      Cmr-Took:
      - '8'
      Cmr-Request-Id:
      - 1b38635c-0fbb-4d85-b78c-56a6ba0fb94a
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding=[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?provider=LM_FIRMS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Cmr-Hits:
      - '1'
      Cmr-Took:
      - '40'
      Cmr-Request-Id:
      - df924602-0625-4790-ad03-76f48b0af793
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><results><hits>1</hits><took>40</took><references><reference><name>MODIS/Aqua+Terra
        Thermal Anomalies/Fire locations 1km FIRMS V005 NRT</name><id>C1219768065-LM_FIRMS</id><location>https://cmr.earthdata.nasa.gov:443/search/concepts/C1219768065-LM_FIRMS/1</location><revision-id>1</revision-id></reference></references></results>
  recorded_at: Thu, 06 Apr 2017 12:39:35 GMT
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?provider=LANCEAMSR2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Cmr-Hits:
      - '6'
      Cmr-Took:
      - '11'
      Cmr-Request-Id:
      - e896940d-90d7-4e39-81b9-e352e1e43bd0
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" enc[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?provider=OMINRT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Cmr-Hits:
      - '5'
      Cmr-Took:
      - '16'
      Cmr-Request-Id:
      - bdc39458-fb8b-4d4f-83d8-689898e448c6
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?provider=PODAAC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Cmr-Hits:
      - '603'
      Cmr-Took:
      - '10'
      Cmr-Request-Id:
      - 042c6592-172b-46f0-99c4-e55f18068a13
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encodi[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?provider=OBPG
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Cmr-Hits:
      - '0'
      Cmr-Took:
      - '12'
      Cmr-Request-Id:
      - 4f1980fc-b070-431f-8c35-b905883d62f9
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><results><hits>0</hits><took>11</took><references></references></results>
  recorded_at: Thu, 06 Apr 2017 12:39:35 GMT
- request:
    method: post
    uri: https://cmr.earthdata.nasa.gov/search/tags/gov.nasa.eosdis/associations/by_query
    body:
      encoding: UTF-8
      string: |-
        {
                    "condition": {"or" : [{"provider": "NSIDCV0"},{"provider": "ORNL_DAAC"},{"provider": "LARC_ASDC"},{"provider": "LARC"},{"provider": "LAADS"},{"provider": "USGS_LTA"},{"provider": "GES_DISC"},{"provider": "USGS_EROS"},{"provider": "GHRC"},{"provider": "SEDAC"},{"provider": "ASF"},{"provider": "LPDAAC_ECS"},{"provider": "LANCEMODIS"},{"provider": "NSIDC_ECS"},{"provider": "OB_DAAC"},{"provider": "CDDIS"},{"provider": "LM_FIRMS"},{"provider": "LANCEAMSR2"},{"provider": "OMINRT"},{"provider": "PODAAC"}]}}
    headers:
      Echo-Token:
      - echo-token-here
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cmr-Request-Id:
      - be996d29-3fb0-4c32-b73a-c8b4bb014a5a
    body:
      encoding: ASCII-8BIT
      string: '[{"tag_association":{"concept_id":"TA1375696393-CMR","revision_id":13},"tagged_item":{"concept_id":"C179003030-ORNL_DAAC"}},{"tag_association":{"concept_id":"TA1375695578-CMR","revision_id":13},"tagged_item":{"concept_id":"C1219224219-NSIDCV0"}},{"tag_association":{"concept_id":"TA1375698764-CMR","revision_id":12},"tagged_item":{"concept_id":"C1220566434-USGS_LTA"}},{"tag_association":{"concept_id":"TA1375700293-CMR","revision_id":13},"tagged_item":{"concept_id":"C179001887-SEDAC"}},{"tag_association":{"concept_id":"TA1375700323-CMR","revision_id":13},"tagged_item":{"concept_id"[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?concept_id=C179003030-ORNL_DAAC&tag_key=gov.nasa.eosdis
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Cmr-Hits:
      - '1'
      Cmr-Took:
      - '14'
      Cmr-Request-Id:
      - a33752fd-68c8-436c-943a-d7994a421da1
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8"?><results><hits>1</hits><took>14</took><references><reference><name>15
        Minute Stream Flow Data: USGS (FIFE)</name><id>C179003030-ORNL_DAAC</id><location>https://cmr.earthdata.nasa.gov:443/search/concepts/C179003030-ORNL_DAAC/23</location><revision-id>23</revision-id></reference></references></results>'
  recorded_at: Thu, 06 Apr 2017 12:40:40 GMT
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections?tag_key=gov.nasa.eosdis
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Cmr-Hits:
      - '6525'
      Cmr-Took:
      - '11'
      Cmr-Request-Id:
      - a1631dae-088a-414c-8ba8-d8d47df348e6
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1[...]
