---
http_interactions:
- request:
    method: get
    uri: http://api.geonames.org/searchJSON?maxRows=1&q=dougopolis&username=echo_reverb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: '{"totalResultsCount":0,"geonames":[]}'
  recorded_at: Fri, 18 Jul 2014 16:44:00 GMT
- request:
    method: get
    uri: http://api.geonames.org/searchJSON?maxRows=1&q=Bowness-on-solway&username=echo_reverb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: '{"totalResultsCount":2,"geonames":[{"adminCode1":"ENG","lng":"-3.21187","geonameId":2655050,"toponymName":"Bowness-on-Solway","countryId":"2635167","fcl":"P","population":0,"countryCode":"GB","name":"Bowness-on-Solway","fclName":"city,
        village,...","countryName":"United Kingdom","fcodeName":"populated place","adminName1":"England","lat":"54.95389","fcode":"PPL"}]}'
  recorded_at: Fri, 18 Jul 2014 16:44:01 GMT
recorded_with: VCR 2.9.2
