---
http_interactions:
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.atom?archive_center%5B%5D=FR/CNES&archive_center%5B%5D=FR/CNES/POSTEL&archive_center%5B%5D=IN/ISRO/MOSDAC&archive_center%5B%5D=IN/ISRO/NDC&archive_center%5B%5D=IN/ISRO/NRSC-BHUVAN&data_center%5B%5D=FR/CNES&data_center%5B%5D=FR/CNES/POSTEL&data_center%5B%5D=IN/ISRO/MOSDAC&data_center%5B%5D=IN/ISRO/NDC&data_center%5B%5D=IN/ISRO/NRSC-BHUVAN&include_has_granules=true&include_tags=org.ceos.wgiss.cwic.*,opensearch.granule.osdd,org.geoss.geoss_data-core,gov.nasa.eosdis%20&page_num=1&page_size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - cmr-open-search
  response:
    status:
      code: 200
      message: OK
    headers:
      Cmr-Hits:
      - '57'
      Cmr-Request-Id:
      - 2dc9ac5d-0050-472c-83d4-9cb279ce9dc5
      Cmr-Took:
      - '120'
      Content-Type:
      - application/atom+xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><feed xmlns:relevance=\"http://a9.com/-/opensearch/extensions/relevance/1.0/\"
        xmlns:os=\"http://a9.com/-/spec/opensearch/1.1/\" xmlns:georss=\"http://www.georss.org/georss/10\"
        xmlns=\"http://www.w3.org/2005/Atom\" xmlns:dc=\"http://purl.org/dc/terms/\"
        xmlns:echo=\"http://www.echo.nasa.gov/esip\" xmlns:esipdiscovery=\"http://commons.esipfed.org/ns/discovery/1.2/\"
        xmlns:gml=\"http://www.opengis.net/gml\" esipdiscovery:version=\"1.2\" xmlns:time=\"http://a9.com/-/opensearch/extensions/time/1.0/\"><updated>2018-02-17T11:57:41.526Z</updated><id>https://cmr.earthdata.nasa.gov:443/search/collections.atom?include_has_granules=true&amp;include_tags=org.ceos.wgiss.cwic.*%2Copensearch.granule.osdd%2Corg.geoss.geoss_data-core%2Cgov.nasa.eosdis+&amp;page_num=1&amp;page_size=10&amp;data_center[]=FR%2FCNES&amp;data_center[]=FR%2FCNES%2FPOSTEL&amp;data_center[]=IN%2FISRO%2FNDC&amp;data_center[]=IN%2FISRO%2FMOSDAC&amp;data_center[]=IN%2FISRO%2FNRSC-BHUVAN&amp;archive_center[]=FR%2FCNES&amp;archive_center[]=FR%2FCNES%2FPOSTEL&amp;archive_center[]=IN%2FISRO%2FNDC&amp;archive_center[]=IN%2FISRO%2FMOSDAC&amp;archive_center[]=IN%2FISRO%2FNRSC-BHUVAN</id><title
        type=\"text\">ECHO dataset metadata</title><entry><id>C1443228137-ISRO</id><title
        type=\"text\">IRS 1C LIS3 Standard Products</title><summary type=\"text\">The
        medium resolution multi-spectral sensor, LISS-3 operates in four spectral
        bands - B2, B3, B4 in visible near infrared (VNIR) and B5 in Short Wave Infrared
        \n(SWIR) providing data with 23.5m resolution. Standard products are full
        scene (path-row) based geo-referenced as well as geo-orthokit  products.</summary><updated></updated><echo:datasetId>IRS
        1C LIS3 Standard Products</echo:datasetId><echo:shortName>1C_LIS3_STUC00GTD</echo:shortName><echo:versionId>1.0</echo:versionId><echo:originalFormat>DIF</echo:originalFormat><echo:dataCenter>ISRO</echo:dataCenter><echo:archiveCenter>IN/ISRO/NDC</echo:archiveCenter><echo:organization>IN/ISRO/NDC</echo:organization><echo:organization>National
        Remote Sensing Center</echo:organization><time:start>1996-11-14T00:00:00.000Z</time:start><time:end>2007-09-20T23:59:59.000Z</time:end><link
        rel=\"http://esipfed.org/ns/fedsearch/1.1/data#\" hreflang=\"en-US\" href=\"http://uops.nrsc.gov.in:33333/ImgeosUops/FinalImgeosUops/FinalImgeosUops.html\"></link><echo:coordinateSystem>CARTESIAN</echo:coordinateSystem><echo:orbitParameters></echo:orbitParameters><georss:box>-90
        -180 90 180</georss:box><echo:difId>1C_LIS3_STUC00GTD_1.0</echo:difId><echo:onlineAccessFlag>true</echo:onlineAccessFlag><echo:browseFlag>false</echo:browseFlag><echo:hasGranules>false</echo:hasGranules><echo:hasVariables>false</echo:hasVariables><echo:hasFormats>false</echo:hasFormats><echo:hasTransforms>false</echo:hasTransforms><echo:hasSpatialSubsetting>false</echo:hasSpatialSubsetting><relevance:score>0.5</relevance:score><echo:tag><echo:tagKey>org.ceos.wgiss.cwic.granules.native_id</echo:tagKey><echo:data>\"1C_LIS3_STUC00GTD\"</echo:data></echo:tag><echo:tag><echo:tagKey>org.ceos.wgiss.cwic.granules.provider</echo:tagKey><echo:data>\"NRSC\"</echo:data></echo:tag><echo:tag><echo:tagKey>org.ceos.wgiss.cwic.granules.prod</echo:tagKey></echo:tag></entry><entry><id>C1443227047-ISRO</id><title
        type=\"text\">IRS 1C Standard Geo Referenced Product</title><summary type=\"text\">The
        data is acquired in four spectral bands, three in the visible and in NIR (VNIR
        B2, B3 and B4)and one [...]
