---
http_interactions:
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Cmr-Request-Id:
      - d8081ee7-d76f-4dcc-acf8-2ab208ceeee2
    body:
      encoding: UTF-8
      string: '{"echo":{"ok?":true},"internal-metadata-db":{"ok?":true,"dependencies":{"oracle":{"ok?":true},"echo":{"ok?":true}}},"index-set":{"ok?":true,"dependencies":{"elastic_search":{"ok?":true},"echo":{"ok?":true}}}}'
  recorded_at: Tue, 01 Mar 2016 14:25:46 GMT
recorded_with: VCR 2.9.2
