---
http_interactions:
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.atom?include_has_granules=true&include_tags=org.ceos.wgiss.cwic.*,opensearch.granule.osdd,org.geoss.geoss_data-core,gov.nasa.eosdis,int.esa.fedeo&keyword=GCMDTEST&page_num=1&page_size=10 
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - cmr-open-search
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=utf-8
      Cmr-Hits:
      - '37'
      Cmr-Took:
      - '58'
      Cmr-Request-Id:
      - c476a82d-4c5a-404c-a827-e3deaeafa4f9
    body:
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <feed xmlns:relevance="http://a9.com/-/opensearch/extensions/relevance/1.0/" xmlns:os="http://a9.com/-/spec/opensearch/1.1/" xmlns:georss="http://www.georss.org/georss/10" xmlns="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/terms/" xmlns:echo="https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom" xmlns:esipdiscovery="http://commons.esipfed.org/ns/discovery/1.2/" xmlns:gml="http://www.opengis.net/gml" esipdiscovery:version="1.2" xmlns:time="http://a9.com/-/opensearch/extensions/time/1.0/">
            <updated>2016-02-06T14:21:43.946Z</updated>
            <id>https://cmr.sit.earthdata.nasa.gov:443/search/collections.atom?include_has_granules=true&amp;include_tags=org.ceos.wgiss.cwic.*,opensearch.granule.osdd,org.geoss.geoss_data-core&amp;keyword=GCMDTEST&amp;page_num=1&amp;page_size=10</id>
            <title type="text">ECHO dataset metadata</title>
            <entry>
                <id>1-GCMD_PROD</id>
                <title type="text">China Dimensions Data Collection: China County-Level Data from Provincial Economic Yearbooks, Keyed to 1:1M GIS Map</title>
                <summary type="text">China County-Level Data on Provincial Economic Yearbooks, Keyed To 1:1M GIS Map consists of socioeconomic and boundary data for the administrative regions of China for 1990 and 1991. The socioeconomic data includes natural resources, population, employment, investment, wage, public finance, price, people's livelihood, agriculture, industry, energy, production, transportation, telecommunication, construction, trade, tourism, environmental protection, education, science, patents, culture, sports, health care, and social welfare. The boundary data are at a scale of one to one million (1:1M) at the county level. This dataset is produced in collaboration with the University of Washington as part of the China in Time and Space (CITAS) project, University of Michigan Center of China Studies (CCS), and the Center for International Earth Science Information Network (CIESIN).

        The data in ARC/INFO Export (ARCE) and dBase IV (DBF) formats are available from the NASA Socioeconomic Data and Applications Center (SEDAC).</summary>
                <updated>2015-07-23T00:00:00.000Z</updated>
                <echo:datasetId>China Dimensions Data Collection: China County-Level Data from Provincial Economic Yearbooks, Keyed to 1:1M GIS Map</echo:datasetId>
                <echo:shortName></echo:shortName>
                <echo:versionId></echo:versionId>
                <echo:originalFormat></echo:originalFormat>
                <echo:dataCenter>GCMDTEST</echo:dataCenter>
                <echo:archiveCenter>SEDAC</echo:archiveCenter>
                <echo:organization>SEDAC</echo:organization>
                <time:start>1990-01-01T00:00:00.000Z</time:start>
                <time:end>1990-01-01T00:00:00.000Z</time:end>
                <link rel="http://esipfed.org/ns/fedsearch/1.1/data#" title="Data download page." hreflang="en-US" href="http://sedac.ciesin.columbia.edu/data/set/cddc-china-provincial-economic-yearbooks/data-download"></link>
                <link rel="http://esipfed.org/ns/fedsearch/1.1/data#" title="Refine your granule search with ECHO's next generation Earth Science discovery tool (Reverb) using information from this record." hreflang="en-US" href="http://reverb.echo.nasa.gov/reverb/#utf8=%E2%9C%93&amp;spatial_map=satellite&amp;spatial_type=rectangle&amp;keywords=CIESIN_SEDAC_CD_CTY_ECON_YRBK"></link>
                <echo:coordinateSystem>CARTESIAN</echo:coordinateSystem>
                <echo:orbitParameters></echo:orbitParameters>
                <georss:box>18 73 54 135</georss:box>
                <echo:difId>foo</echo:difId>
                <echo:onlineAccessFlag>true</echo:onlineAccessFlag>
                <echo:browseFlag>false</echo:browseFlag>
                <echo:hasGranules>false</echo:hasGranules>
                <relevance:score>0.5</relevance:score>
                <echo:tag>
                    <echo:tagKey>org.ceos.wgiss.cwic.granules.prod</echo:tagKey>
                </echo:tag>
            </entry>
            <entry>
                <id>2-GCMD_TEST</id>
                <title type="text">SMEX03 Ancillary Soil Characteristics Data, Alabama</title>
                <summary type="text">The SMEX03 Ancillary Soil Characteristics data set contains data for the regional study areas of Alabama, Georgia, and Oklahoma, USA as part of the 2003 Soil Moisture Experiment (SMEX03). The original data were ext[...]
