---
http_interactions:
- request:
    method: post
    uri: https://api.echo.nasa.gov/echo-rest//tokens
    body:
      encoding: US-ASCII
      string: |-
        <token>
                  <username>guest</username>
                  <password>guest@echo.nasa.gov</password>
                  <client_id>none-supplied-opensearch-dev</client_id>
                  <user_ip_address>0.0.0.0</user_ip_address>
                </token>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.echo.nasa.gov/echo-rest/tokens/echo-token-here?clientId=unknown
      Content-Type:
      - application/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <token>
          <id>5C0FAC2D-AFC5-395E-06BF-D99609A00E29</id>
          <username>guest</username>
          <client_id>none-supplied-opensearch-dev</client_id>
          <user_ip_address>0.0.0.0</user_ip_address>
        </token>
  recorded_at: Fri, 18 Jul 2014 13:33:56 GMT
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.atom?include_has_granules=true&include_tags=org.ceos.wgiss.cwic.*,opensearch.granule.osdd,org.geoss.geoss_data-core,gov.nasa.eosdis,int.esa.fedeo&page_num=1&page_size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - echo-token-here
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '36'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'false'
      Etag:
      - '"7fd10a54311a9734a25f314f2081b00e"'
      Content-Type:
      - application/atom+xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <feed xmlns="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:georss="http://www.georss.org/georss/10" xmlns:time="http://a9.com/-/opensearch/extensions/time/1.0/" xmlns:echo="https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom" xmlns:gml="http://www.opengis.net/gml" xmlns:esipdiscovery="http://commons.esipfed.org/ns/discovery/1.2/" xmlns:os="http://a9.com/-/spec/opensearch/1.1/" esipdiscovery:version="1.2">
          <updated>2014-07-18T13:33:56.835Z</updated>
          <id>https://api.echo.nasa.gov/catalog-rest/echo_catalog/datasets.atom?page_num=1&amp;page_size=10</id>
          <title type="text">CMR dataset metadata</title>
          <entry>
            <id>C1000000021-OS_PROV_1</id>
            <title type="text">Cool Dataset</title>
            <summary type="text">This is a description of a cool dataset</summary>
            <updated>1999-12-31T19:00:00-05:00</updated>
            <echo:datasetId>Cool Dataset</echo:datasetId>
            <echo:shortName>CoolDataset</echo:shortName>
            <echo:versionId>1</echo:versionId>
            <echo:originalFormat>ECHO10</echo:originalFormat>
            <echo:dataCenter>OS_PROV_1</echo:dataCenter>
            <echo:archiveCenter>OS_PROV1</echo:archiveCenter>
            <echo:onlineAccessFlag>false</echo:onlineAccessFlag>
            <echo:browseFlag>false</echo:browseFlag>
          </entry>
          <entry>
            <id>C1000000004-OS_PROV_2</id>
            <title type="text">DC dataset for open search</title>
            <summary type="text">DC gran OPENSEARCHDC</summary>
            <updated>1999-12-31T19:00:00-05:00</updated>
            <echo:datasetId>DC dataset for open search</echo:datasetId>
            <echo:shortName>DCGran1</echo:shortName>
            <echo:versionId>1</echo:versionId>
            <echo:originalFormat>ECHO10</echo:originalFormat>
            <echo:dataCenter>OS_PROV_2</echo:dataCenter>
            <echo:archiveCenter>OS_PROV2</echo:archiveCenter>
            <time:start>1940-01-01T00:00:00Z</time:start>
            <time:end>1956-01-01T22:00:00Z</time:end>
            <echo:onlineAccessFlag>false</echo:onlineAccessFlag>
            <echo:browseFlag>false</echo:browseFlag>
          </entry>
          <entry>
            <id>C1000000003-OS_PROV_2</id>
            <title type="text">Dublin Core none dataset</title>
            <summary type="text">DC none OPENSEARCHDC</summary>
            <updated>1999-12-31T19:00:00-05:00</updated>
            <echo:datasetId>Dublin Core none dataset</echo:datasetId>
            <ec[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.atom?include_has_granules=true&include_tags=org.ceos.wgiss.cwic.*,opensearch.granule.osdd,org.geoss.geoss_data-core,gov.nasa.eosdis,int.esa.fedeo&page_num=1&page_size=10&point=-3.21187,54.95389
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '1'
      Echo-Hits-Estimated:
[...]
- request:
    method: get
    uri: http://api.geonames.org/searchJSON?maxRows=1&q=Bowness-on-Solway&username=echo_reverb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalResultsCount":2,"geonames":[{"countryId":"2635167","adminCode1":"ENG","countryName":"United
        Kingdom","fclName":"city, village,...","countryCode":"GB","lng":"-3.21187","fcodeName":"populated
        place","toponymName":"Bowness-on-Solway","fcl":"P","name":"Bowness-on-Solway","fcode":"PPL","geonameId":2655050,"lat":"54.95389","adminName1":"England","population":0}]}'
  recorded_at: Thu, 04 Feb 2016 14:52:39 GMT
- request:
    method: get
    uri: http://api.geonames.org/searchJSON?maxRows=1&q=Bowness-on-Solway&username=echo_reverb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalResultsCount":2,"geonames":[{"countryId":"2635167","adminCode1":"ENG","countryName":"United
        Kingdom","fclName":"city, village,...","countryCode":"GB","lng":"-3.21187","fcodeName":"populated
        place","toponymName":"Bowness-on-Solway","fcl":"P","name":"Bowness-on-Solway","fcode":"PPL","geonameId":2655050,"lat":"54.95389","adminName1":"England","population":0}]}'
  recorded_at: Thu, 04 Feb 2016 14:52:40 GMT
recorded_with: VCR 2.9.2
