---
http_interactions:
- request:
    method: post
    uri: https://api.echo.nasa.gov/echo-rest//tokens
    body:
      encoding: US-ASCII
      string: |-
        <token>
                  <username>guest</username>
                  <password>guest@echo.nasa.gov</password>
                  <client_id>foo-opensearch-dev</client_id>
                  <user_ip_address>0.0.0.0</user_ip_address>
                </token>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.echo.nasa.gov/echo-rest/tokens/echo-token-here?clientId=unknown
      Content-Type:
      - application/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <token>
          <id>818B51A3-EF92-534B-A17C-BD8F311BC69C</id>
          <username>guest</username>
          <client_id>foo-opensearch-dev</client_id>
          <user_ip_address>0.0.0.0</user_ip_address>
        </token>
  recorded_at: Fri, 18 Jul 2014 13:20:22 GMT
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.atom?include_has_granules=true&include_tags=org.ceos.wgiss.cwic.*,opensearch.granule.osdd,org.geoss.geoss_data-core,gov.nasa.eosdis,int.esa.fedeo&keyword=Dublin%20Core%20range%20dataset&page_num=1&page_size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - echo-token-here
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '1'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
      - '"3f9a5960d91c1532830d921909aaa81a"'
      Content-Type:
      - application/atom+xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <feed xmlns="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:georss="http://www.georss.org/georss/10" xmlns:time="http://a9.com/-/opensearch/extensions/time/1.0/" xmlns:echo="https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom" xmlns:gml="http://www.opengis.net/gml" xmlns:esipdiscovery="http://commons.esipfed.org/ns/discovery/1.2/" xmlns:os="http://a9.com/-/spec/opensearch/1.1/" esipdiscovery:version="1.2">
          <updated>2014-07-18T13:20:23.270Z</updated>
          <id>https://api.echo.nasa.gov/catalog-rest/echo_catalog/datasets.atom?keyword=Dublin+Core+range+dataset&amp;page_num=1&amp;page_size=10</id>
          <title type="text">CMR dataset metadata</title>
          <entry xmlns:georss="http://www.georss.org/georss/10" xmlns:time="http://a9.com/-/opensearch/extensions/time/1.0/" xmlns:echo="https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom" xmlns:gml="http://www.opengis.net/gml" xmlns:relevance="http://a9.com/-/opensearch/extensions/relevance/1.0/">
            <id>C1000000000-OS_PROV_2</id>
            <title type="text">Dublin Core range dataset</title>
            <summary type="text">DC range OPENSEARCHDC</summary>
            <updated>1999-12-31T19:00:00-05:00</updated>
            <echo:datasetId>Dublin Core range dataset</echo:datasetId>
            <echo:shortName>DCRange1</echo:shortName>
            <echo:versionId>1</echo:versionId>
            <echo:originalFormat>ECHO10</echo:originalFormat>
            <echo:dataCenter>OS_PROV_2</echo:dataCenter>
            <echo:archiveCenter>OS_PROV2</echo:archiveCenter>
            <time:start>1951-01-01T00:00:00Z</time:start>
            <time:end>1952-12-01T00:00:00Z</time:end>
            <echo:onlineAccessFlag>false</echo:onlineAccessFlag>
            <echo:browseFlag>false</echo:browseFlag>
            <relevance:score>0.7</relevance:score>
          </entry>
        </feed>
  recorded_at: Fri, 18 Jul 2014 13:20:23 GMT
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.atom?include_has_granules=true&include_tags=org.ceos.wgiss.cwic.*,opensearch.granule.osdd,org.geoss.geoss_data-core,gov.nasa.eosdis,int.esa.fedeo&keyword=Dublin%20Core%20start%20dataset&page_num=1&page_size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - echo-token-here
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '1[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.atom?include_has_granules=true&include_tags=org.ceos.wgiss.cwic.*,opensearch.granule.osdd,org.geoss.geoss_data-core,gov.nasa.eosdis,int.esa.fedeo&keyword=Dublin%20Core%20single%20dataset&page_num=1&page_size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - echo-token-here
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.atom?include_has_granules=true&include_tags=org.ceos.wgiss.cwic.*,opensearch.granule.osdd,org.geoss.geoss_data-core,gov.nasa.eosdis,int.esa.fedeo&keyword=Dublin%20Core%20none%20dataset&page_num=1&page_size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - echo-token-here
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '1'[...]
