---
http_interactions:
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.atom?include_has_granules=true&include_tags=org.ceos.wgiss.cwic.*,opensearch.granule.osdd,org.geoss.geoss_data-core,gov.nasa.eosdis,int.esa.fedeo&keyword=GCMDTEST&page_num=1&page_size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - cmr-open-search
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=utf-8
      Cmr-Hits:
      - '37'
      Cmr-Took:
      - '58'
      Cmr-Request-Id:
      - c476a82d-4c5a-404c-a827-e3deaeafa4f9
    body:
      encoding: US-ASCII
      string: |-
        <feed
            xmlns:os="http://a9.com/-/spec/opensearch/1.1/"
            xmlns:georss="http://www.georss.org/georss/10"
            xmlns="http://www.w3.org/2005/Atom"
            xmlns:dc="http://purl.org/dc/elements/1.1/"
            xmlns:echo="https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom"
            xmlns:esipdiscovery="http://commons.esipfed.org/ns/discovery/1.2/"
            xmlns:gml="http://www.opengis.net/gml" esipdiscovery:version="1.2"
            xmlns:time="http://a9.com/-/opensearch/extensions/time/1.0/">
            <updated>2016-02-05T19:59:56.807Z</updated>
            <id>https://cmr.sit.earthdata.nasa.gov:443/search/collections.atom?provider=GCMDTEST&amp;include_tags=org.ceos.wgiss.cwic.*,opensearch.granule.osdd,org.geoss.geoss_data-core&amp;include_has_granules=true</id>
            <title type="text">CMR dataset metadata</title>
            <entry>
                <id>C1200018718-GCMDTEST</id>
                <title type="text">Aqua AIRS Level 3 Daily Standard Physical Retrieval (AIRS+AMSU) V007 (AIRX3STD) </title>
                <summary type="text">The AIRS Level 3 Daily Gridded Product contains standard retrieval means, standard deviations and input counts.  Each file covers a temporal period of 24 hours for either the descending (equatorial crossing North to South @1:30 AM local time) or ascending (equatorial crossing South to North @1:30 PM local time) orbit. The data starts at the international dateline and progresses westward (as do the subsequent orbits of the satellite) so that neighboring gridded cells of data are no mo[...]
