---
http_interactions:
- request:
    method: post
    uri: https://api.echo.nasa.gov/echo-rest//tokens
    body:
      encoding: US-ASCII
      string: |-
        <token>
                  <username>guest</username>
                  <password>guest@echo.nasa.gov</password>
                  <client_id>foo-opensearch-dev</client_id>
                  <user_ip_address>0.0.0.0</user_ip_address>
                </token>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.echo.nasa.gov/echo-rest/tokens/echo-token-here?clientId=unknown
      Content-Type:
      - application/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <token>
          <id>BFC04522-D572-6C03-F303-B2F8D99F112C</id>
          <username>guest</username>
          <client_id>foo-opensearch-dev</client_id>
          <user_ip_address>0.0.0.0</user_ip_address>
        </token>
  recorded_at: Fri, 18 Jul 2014 13:20:24 GMT
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.atom?include_has_granules=true&include_tags=org.ceos.wgiss.cwic.*,opensearch.granule.osdd,org.geoss.geoss_data-core,gov.nasa.eosdis,int.esa.fedeo&keyword=NonTraversal&page_num=1&page_size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - echo-token-here
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '1'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
      - '"bd9c9d722e16937e5af27b847060360b"'
      Content-Type:
      - application/atom+xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <feed xmlns="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:georss="http://www.georss.org/georss/10" xmlns:time="http://a9.com/-/opensearch/extensions/time/1.0/" xmlns:echo="https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom" xmlns:gml="http://www.opengis.net/gml" xmlns:esipdiscovery="http://commons.esipfed.org/ns/discovery/1.2/" xmlns:os="http://a9.com/-/spec/opensearch/1.1/" esipdiscovery:version="1.2">
          <updated>2014-07-18T13:20:24.687Z</updated>
          <id>https://api.echo.nasa.gov/catalog-rest/echo_catalog/datasets.atom?keyword=NonTraversal&amp;page_num=1&amp;page_size=10</id>
          <title type="text">CMR dataset metadata</title>
          <entry xmlns:georss="http://www.georss.org/georss/10" xmlns:time="http://a9.com/-/opensearch/extensions/time/1.0/" xmlns:echo="https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom" xmlns:gml="http://www.opengis.net/gml" xmlns:relevance="http://a9.com/-/opensearch/extensions/relevance/1.0/">
            <id>C1000000015-OS_PROV_1</id>
            <title type="text">NonTraversal Dataset 1</title>
            <summary type="text">This is a description</summary>
            <updated>1999-12-31T19:00:00-05:00</updated>
            <echo:datasetId>NonTraversal Dataset 1</echo:datasetId>
            <echo:shortName>NonTraversalDataset1</echo:shortName>
            <echo:versionId>1</echo:versionId>
            <echo:originalFormat>ECHO10</echo:originalFormat>
            <echo:dataCenter>OS_PROV_1</echo:dataCenter>
            <echo:archiveCenter>OS_PROV1</echo:archiveCenter>
            <echo:onlineAccessFlag>false</echo:onlineAccessFlag>
            <echo:browseFlag>false</echo:browseFlag>
            <relevance:score>0.7</relevance:score>
          </entry>
        </feed>
  recorded_at: Fri, 18 Jul 2014 13:20:24 GMT
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.atom?include_has_granules=true&include_tags=org.ceos.wgiss.cwic.*,opensearch.granule.osdd,org.geoss.geoss_data-core,gov.nasa.eosdis,int.esa.fedeo&keyword=Traversal&page_num=1&page_size=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - echo-token-here
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '3'
      Echo-Hits-Estim[...]
[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.atom?include_has_granules=true&include_tags=org.ceos.wgiss.cwic.*,opensearch.granule.osdd,org.geoss.geoss_data-core,gov.nasa.eosdis,int.esa.fedeo&keyword=LastCursor&page_num=1&page_size=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - echo-token-here
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '6'
      Echo-Hits-Esti[...]
[...]
