---
http_interactions:
- request:
    method: post
    uri: https://api.echo.nasa.gov/echo-rest//tokens
    body:
      encoding: US-ASCII
      string: |-
        <token>
                  <username>guest</username>
                  <password>guest@echo.nasa.gov</password>
                  <client_id>foo-opensearch-dev</client_id>
                  <user_ip_address>0.0.0.0</user_ip_address>
                </token>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.echo.nasa.gov/echo-rest/tokens/echo-token-here?clientId=unknown
      Content-Type:
      - application/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <token>
          <id>FCD46855-12A6-3E2A-4A86-194A2F6DA52D</id>
          <username>guest</username>
          <client_id>foo-opensearch-dev</client_id>
          <user_ip_address>0.0.0.0</user_ip_address>
        </token>
  recorded_at: Fri, 18 Jul 2014 13:45:10 GMT
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?bounding_box=-5,-5,5,5&page_num=1&page_size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - echo-token-here
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '1'
      Echo-Hits-Estimated:
      - 'true'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
      - '"a67a5b0bfbeb36453641ba5d5745cb1d"'
      Content-Type:
      - application/atom+xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <feed xmlns="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:georss="http://www.georss.org/georss/10" xmlns:time="http://a9.com/-/opensearch/extensions/time/1.0/" xmlns:echo="https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom" xmlns:gml="http://www.opengis.net/gml" xmlns:esipdiscovery="http://commons.esipfed.org/ns/discovery/1.2/" xmlns:os="http://a9.com/-/spec/opensearch/1.1/" esipdiscovery:version="1.2">
          <updated>2014-07-18T13:45:11.406Z</updated>
          <id>https://api.echo.nasa.gov/catalog-rest/echo_catalog/granules.atom?page_num=1&amp;page_size=10&amp;bounding_box=-5%2C-5%2C5%2C5</id>
          <title type="text">CMR granule metadata</title>
          <entry>
            <id>G1000000001-OS_PROV_1</id>
            <title type="text">SpatialTestingGranule2</title>
            <updated>1999-12-31T19:00:00-05:00</updated>
            <echo:datasetId>Spatial Testing dataset number 2</echo:datasetId>
            <echo:producerGranuleId>SpatialTestingGranule2</echo:producerGranuleId>
            <echo:granuleSizeMB>14.0262</echo:granuleSizeMB>
            <echo:originalFormat>ECHO10</echo:originalFormat>
            <echo:dataCenter>OS_PROV_1</echo:dataCenter>
            <georss:box>-10.0 -10.0 10.0 10.0</georss:box>
            <echo:onlineAccessFlag>false</echo:onlineAccessFlag>
            <echo:browseFlag>false</echo:browseFlag>
            <echo:dayNightFlag>UNSPECIFIED</echo:dayNightFlag>
          </entry>
        </feed>
  recorded_at: Fri, 18 Jul 2014 13:45:11 GMT
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?echo_granule_id=G1000000001-OS_PROV_1&page_num=1&page_size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '1'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
      - '"0318f7088dea40a3a769caa672b1f3a0"'
      Content-Ty[...]
