---
http_interactions:
- request:
    method: post
    uri: https://api.echo.nasa.gov/echo-rest//tokens
    body:
      encoding: US-ASCII
      string: |-
        <token>
                  <username>guest</username>
                  <password>guest@echo.nasa.gov</password>
                  <client_id>our_html_ui-opensearch-dev</client_id>
                  <user_ip_address>0.0.0.0</user_ip_address>
                </token>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.echo.nasa.gov/echo-rest/tokens/echo-token-here?clientId=unknown
      Content-Type:
      - application/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <token>
          <id>81E639BA-B0A5-05CC-D4CF-EA195E51BDBA</id>
          <username>guest</username>
          <client_id>our_html_ui-opensearch-dev</client_id>
          <user_ip_address>0.0.0.0</user_ip_address>
        </token>
  recorded_at: Fri, 18 Jul 2014 13:45:28 GMT
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?page_num=1&page_size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - echo-token-here
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '31'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'false'
      Etag:
      - '"2aba5f951c8609ded98bd5cef1f91d52"'
      Content-Type:
      - application/atom+xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <feed xmlns="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:georss="http://www.georss.org/georss/10" xmlns:time="http://a9.com/-/opensearch/extensions/time/1.0/" xmlns:echo="https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom" xmlns:gml="http://www.opengis.net/gml" xmlns:esipdiscovery="http://commons.esipfed.org/ns/discovery/1.2/" xmlns:os="http://a9.com/-/spec/opensearch/1.1/" esipdiscovery:version="1.2">
          <updated>2014-07-18T13:45:29.550Z</updated>
          <id>https://api.echo.nasa.gov/catalog-rest/echo_catalog/granules.atom?page_num=1&amp;page_size=10</id>
          <title type="text">ECHO granule metadata</title>
          <entry>
            <id>G1065-CWIC_1</id>
            <title type="text">G1</title>
            <updated>1971-12-31T19:00:00-05:00</updated>
            <echo:datasetId>Unique dataset xyz</echo:datasetId>
            <echo:producerGranuleId>G1</echo:producerGranuleId>
            <echo:granuleSizeMB>14.0262</echo:granuleSizeMB>
            <echo:originalFormat>ECHO10</echo:originalFormat>
            <echo:dataCenter>CWIC_1</echo:dataCenter>
            <time:start>1970-12-31T19:00:00-05:00</time:start>
            <time:end>1971-12-31T19:00:00-05:00</time:end>
            <link href="www.example.com/resource.xml" hreflang="en-US" title="Metadata (Granule Guide)" rel="http://esipfed.org/ns/fedsearch/1.1/metadata#"/>
            <echo:onlineAccessFlag>false</echo:onlineAccessFlag>
            <echo:browseFlag>false</echo:browseFlag>
            <echo:dayNightFlag>UNSPECIFIED</echo:dayNightFlag>
          </entry>
          <entry>
            <id>G1000000016-OS_PROV_1</id>
            <title type="text">CoolGranule1</title>
            <updated>1999-12-31T19:00:00-05:00</updated>
            <echo:datasetId>Cool Dataset</echo:datasetId>
            <echo:producerGranuleId>CoolGranule1</echo:producerGranuleId>
            <echo:granuleSizeMB>14.0262</echo:granuleSizeMB>
            <echo:originalFormat>ECHO10</echo:originalFormat>
            <echo:dataCe[...]
[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?bounding_box=-5,-5,5,5&page_num=1&page_size=10&short_name=SampleShortName
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '1'
      Echo-Hits-Estimated:
      - 'true'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
      - '"360b1170f8a377d09d5bffec60d16e97"'
     [...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?bounding_box=30,30,40,40&page_num=1&page_size=10&short_name=SampleShortName
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '0'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
      - '"f35e426d80d33a8260b59289873834a0"'
      Content-Type:
      - application/atom+xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <feed xmlns="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:georss="http://www.georss.org/georss/10" xmlns:time="http://a9.com/-/opensearch/extensions/time/1.0/" xmlns:echo="https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom" xmlns:gml="http://www.opengis.net/gml" xmlns:esipdiscovery="http://commons.esipfed.org/ns/discovery/1.2/" xmlns:os="http://a9.com/-/spec/opensearch/1.1/" esipdiscovery:version="1.2">
          <updated>2014-07-18T13:45:38.779Z</updated>
          <id>https://api.echo.nasa.gov/catalog-rest/echo_catalog/granules.atom?page_num=1&amp;page_size=10&amp;bounding_box=30%2C30%2C40%2C40</id>
          <title type="text">ECHO granule metadata</title>
        </feed>
  recorded_at: Fri, 18 Jul 2014 13:45:38 GMT
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?page_num=1&page_size=10&point=-5.0,-5.0&short_name=SampleShortName
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '1'
      Echo-Hits-Estimated:
      - 'true'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
      - '"3f28878b7a5c676ed022fac62fdfef4b"'
      Conten[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?page_num=1&page_size=10&point=30.0,30.0&short_name=SampleShortName
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '0'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
      - '"cd2fe5a5c9b65878b9e41a5374eab333"'
      Content-Type:
      - application/atom+xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <feed xmlns="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:georss="http://www.georss.org/georss/10" xmlns:time="http://a9.com/-/opensearch/extensions/time/1.0/" xmlns:echo="https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom" xmlns:gml="http://www.opengis.net/gml" xmlns:esipdiscovery="http://commons.esipfed.org/ns/discovery/1.2/" xmlns:os="http://a9.com/-/spec/opensearch/1.1/" esipdiscovery:version="1.2">
          <updated>2014-07-18T13:45:42.940Z</updated>
          <id>https://api.echo.nasa.gov/catalog-rest/echo_catalog/granules.atom?page_num=1&amp;page_size=10&amp;point=30.0%2C30.0</id>
          <title type="text">ECHO granule metadata</title>
        </feed>
  recorded_at: Fri, 18 Jul 2014 13:45:42 GMT
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?line=-5.0,-5.0,4.0,4.0&page_num=1&page_size=10&short_name=SampleShortName
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '1'
      Echo-Hits-Estimated:
      - 'true'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
      - '"9fb89a8aba0ec79e818874e1e1322562"'
     [...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?line=30.0,30.0,35.0,35.0&page_num=1&page_size=10&short_name=SampleShortName
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '0'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
      - '"554c461ea61fd89fad68495bf153e2dd"'
      Content-Type:
      - application/atom+xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <feed xmlns="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:georss="http://www.georss.org/georss/10" xmlns:time="http://a9.com/-/opensearch/extensions/time/1.0/" xmlns:echo="https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom" xmlns:gml="http://www.opengis.net/gml" xmlns:esipdiscovery="http://commons.esipfed.org/ns/discovery/1.2/" xmlns:os="http://a9.com/-/spec/opensearch/1.1/" esipdiscovery:version="1.2">
          <updated>2014-07-18T13:45:46.028Z</updated>
          <id>https://api.echo.nasa.gov/catalog-rest/echo_catalog/granules.atom?page_num=1&amp;page_size=10&amp;line=30.0%2C30.0%2C35.0%2C35.0</id>
          <title type="text">ECHO granule metadata</title>
        </feed>
  recorded_at: Fri, 18 Jul 2014 13:45:46 GMT
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?page_num=1&page_size=10&polygon=1.0,1.0,1.0,3.0,-1.0,2.0,1.0,1.0&short_name=SampleShortName
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '1'
      Echo-Hits-Estimated:
      - 'true'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
      - '"86b88d3078002cfb1b8c4d[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?page_num=1&page_size=10&polygon=30.0,10.0,40.0,40.0,20.0,40.0,10.0,20.0,30.0,10.0&short_name=SampleShortName
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '0'
      Echo-Hits-Estimated:
      - 'true'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
      - '"619e0[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?page_num=1&page_size=10&provider=OS_PROV_1&short_name=SampleShortName&temporal=2001-01-01T22:00:00Z,2001-01-01T23:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '1'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
  [...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?page_num=1&page_size=10&provider=OS_PROV_1&temporal=1999-01-01T22:00:00Z,1999-02-01T23:00:00Z&short_name=SampleShortName
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '0'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
  [...]
[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?page_num=1&page_size=10&short_name=ShortNameSearchTesting1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '1'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
      - '"5580d4eb57363a1ea423ae72fd9ad41d"'
      Content-Type:[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?page_num=1&page_size=10&short_name=bogus
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '0'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
      - '"5076aacadc99e8a754ed97323f636887"'
      Content-Type:
      - application/atom+xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <feed xmlns="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:georss="http://www.georss.org/georss/10" xmlns:time="http://a9.com/-/opensearch/extensions/time/1.0/" xmlns:echo="https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom" xmlns:gml="http://www.opengis.net/gml" xmlns:esipdiscovery="http://commons.esipfed.org/ns/discovery/1.2/" xmlns:os="http://a9.com/-/spec/opensearch/1.1/" esipdiscovery:version="1.2">
          <updated>2014-07-18T13:45:59.185Z</updated>
          <id>https://api.echo.nasa.gov/catalog-rest/echo_catalog/granules.atom?short_name=bogus&amp;page_num=1&amp;page_size=10</id>
          <title type="text">ECHO granule metadata</title>
        </feed>
  recorded_at: Fri, 18 Jul 2014 13:45:59 GMT
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?page_num=1&page_size=10&short_name=SampleShortName&version=99
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '1'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
      - '"52975f97419deaf18dda543279c4eee8"'
      Content-Ty[...]
[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?page_num=1&page_size=2&short_name=PagingGranuleSearchTesting1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '3'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'false'
      Etag:
      - '"981a3c9020c38dc941fcebe0aedc095b"'
      Content-T[...]
[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?page_num=1&page_size=10&short_name=UrlGranuleTesting1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '1'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
      - '"05e8380f366264640d007c96e7614d98"'
      Content-Type:
    [...]
[...]
