---
http_interactions:
- request:
    method: post
    uri: https://api.echo.nasa.gov/echo-rest//tokens
    body:
      encoding: US-ASCII
      string: |-
        <token>
                  <username>guest</username>
                  <password>guest@echo.nasa.gov</password>
                  <client_id>none-supplied-opensearch-dev</client_id>
                  <user_ip_address>0.0.0.0</user_ip_address>
                </token>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.echo.nasa.gov/echo-rest/tokens/echo-token-here?clientId=unknown
      Content-Type:
      - application/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <token>
          <id>6BC940D3-4D65-F5AD-A984-08B717B0148E</id>
          <username>guest</username>
          <client_id>none-supplied-opensearch-dev</client_id>
          <user_ip_address>0.0.0.0</user_ip_address>
        </token>
  recorded_at: Fri, 18 Jul 2014 13:46:12 GMT
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?page_num=1&page_size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - echo-token-here
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '31'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'false'
      Etag:
      - '"bd254b54b812ef2b60a4978aded1a44a"'
      Content-Type:
      - application/atom+xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <feed xmlns="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:georss="http://www.georss.org/georss/10" xmlns:time="http://a9.com/-/opensearch/extensions/time/1.0/" xmlns:echo="https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom" xmlns:gml="http://www.opengis.net/gml" xmlns:esipdiscovery="http://commons.esipfed.org/ns/discovery/1.2/" xmlns:os="http://a9.com/-/spec/opensearch/1.1/" esipdiscovery:version="1.2">
          <updated>2014-07-18T13:46:13.306Z</updated>
          <id>https://api.echo.nasa.gov/catalog-rest/echo_catalog/granules.atom?page_num=1&amp;page_size=10</id>
          <title type="text">ECHO granule metadata</title>
          <entry>
            <id>G1065-CWIC_1</id>
            <title type="text">G1</title>
            <updated>1971-12-31T19:00:00-05:00</updated>
            <echo:datasetId>Unique dataset xyz</echo:datasetId>
            <echo:producerGranuleId>G1</echo:producerGranuleId>
            <echo:granuleSizeMB>14.0262</echo:granuleSizeMB>
            <echo:originalFormat>ECHO10</echo:originalFormat>
            <echo:dataCenter>CWIC_1</echo:dataCenter>
            <time:start>1970-12-31T19:00:00-05:00</time:start>
            <time:end>1971-12-31T19:00:00-05:00</time:end>
            <link href="www.example.com/resource.xml" hreflang="en-US" title="Metadata (Granule Guide)" rel="http://esipfed.org/ns/fedsearch/1.1/metadata#"/>
            <echo:onlineAccessFlag>false</echo:onlineAccessFlag>
            <echo:browseFlag>false</echo:browseFlag>
            <echo:dayNightFlag>UNSPECIFIED</echo:dayNightFlag>
          </entry>
          <entry>
            <id>G1000000016-OS_PROV_1</id>
            <title type="text">CoolGranule1</title>
            <updated>1999-12-31T19:00:00-05:00</updated>
            <echo:datasetId>Cool Dataset</echo:datasetId>
            <echo:producerGranuleId>CoolGranule1</echo:producerGranuleId>
            <echo:granuleSizeMB>14.0262</echo:granuleSizeMB>
            <echo:originalFormat>ECHO10</echo:originalFormat>
            <echo:dataCe[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?page_num=1&page_size=10&point=-3.21187,54.95389&short_name=SampleShortName
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '1'
      Echo-Hits-Estimated:
      - 'true'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
      - '"3735e6ca33d54792ef5cc0c080c53ea4"'
    [...]
- request:
    method: get
    uri: http://api.geonames.org/searchJSON?maxRows=1&q=Bowness-on-Solway&username=echo_reverb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalResultsCount":2,"geonames":[{"countryId":"2635167","adminCode1":"ENG","countryName":"United
        Kingdom","fclName":"city, village,...","countryCode":"GB","lng":"-3.21187","fcodeName":"populated
        place","toponymName":"Bowness-on-Solway","fcl":"P","name":"Bowness-on-Solway","fcode":"PPL","geonameId":2655050,"lat":"54.95389","adminName1":"England","population":0}]}'
  recorded_at: Thu, 04 Feb 2016 14:54:53 GMT
- request:
    method: get
    uri: http://api.geonames.org/searchJSON?maxRows=1&q=Bowness-on-Solway&username=echo_reverb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalResultsCount":2,"geonames":[{"countryId":"2635167","adminCode1":"ENG","countryName":"United
        Kingdom","fclName":"city, village,...","countryCode":"GB","lng":"-3.21187","fcodeName":"populated
        place","toponymName":"Bowness-on-Solway","fcl":"P","name":"Bowness-on-Solway","fcode":"PPL","geonameId":2655050,"lat":"54.95389","adminName1":"England","population":0}]}'
  recorded_at: Thu, 04 Feb 2016 14:54:54 GMT
recorded_with: VCR 2.9.2
