---
http_interactions:
- request:
    method: post
    uri: https://api.echo.nasa.gov/echo-rest//tokens
    body:
      encoding: US-ASCII
      string: |-
        <token>
                  <username>guest</username>
                  <password>guest@echo.nasa.gov</password>
                  <client_id>foo-opensearch-dev</client_id>
                  <user_ip_address>0.0.0.0</user_ip_address>
                </token>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.echo.nasa.gov/echo-rest/tokens/echo-token-here?clientId=unknown
      Content-Type:
      - application/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <token>
          <id>BC23ADCF-3C19-E1F8-0498-398B9DCB2B65</id>
          <username>guest</username>
          <client_id>foo-opensearch-dev</client_id>
          <user_ip_address>0.0.0.0</user_ip_address>
        </token>
  recorded_at: Fri, 18 Jul 2014 13:44:42 GMT
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?bounding_box=-5,-5,5,5&page_num=1&page_size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - echo-token-here
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '1'
      Echo-Hits-Estimated:
      - 'true'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
      - '"b4071cfdf5865ee3e7cef48f4cdfc646"'
      Content-Type:
      - application/atom+xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <feed xmlns="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:georss="http://www.georss.org/georss/10" xmlns:time="http://a9.com/-/opensearch/extensions/time/1.0/" xmlns:echo="https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom" xmlns:gml="http://www.opengis.net/gml" xmlns:esipdiscovery="http://commons.esipfed.org/ns/discovery/1.2/" xmlns:os="http://a9.com/-/spec/opensearch/1.1/" esipdiscovery:version="1.2">
          <updated>2014-07-18T13:44:44.304Z</updated>
          <id>https://api.echo.nasa.gov/catalog-rest/echo_catalog/granules.atom?page_num=1&amp;page_size=10&amp;bounding_box=-5%2C-5%2C5%2C5</id>
          <title type="text">CMR granule metadata</title>
          <entry>
            <id>G1000000001-OS_PROV_1</id>
            <title type="text">SpatialTestingGranule2</title>
            <updated>1999-12-31T19:00:00-05:00</updated>
            <echo:datasetId>Spatial Testing dataset number 2</echo:datasetId>
            <echo:producerGranuleId>SpatialTestingGranule2</echo:producerGranuleId>
            <echo:granuleSizeMB>14.0262</echo:granuleSizeMB>
            <echo:originalFormat>ECHO10</echo:originalFormat>
            <echo:dataCenter>OS_PROV_1</echo:dataCenter>
            <georss:box>-10.0 -10.0 10.0 10.0</georss:box>
            <echo:onlineAccessFlag>false</echo:onlineAccessFlag>
            <echo:browseFlag>false</echo:browseFlag>
            <echo:dayNightFlag>UNSPECIFIED</echo:dayNightFlag>
          </entry>
        </feed>
  recorded_at: Fri, 18 Jul 2014 13:44:44 GMT
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?bounding_box=30,30,40,40&page_num=1&page_size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - echo-token-here
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '0'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
      - '"466652abd5f7c19e5547b15ad6efdba3"'
      Content-Type:
      - application/atom+xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <feed xmlns="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:georss="http://www.georss.org/georss/10" xmlns:time="http://a9.com/-/opensearch/extensions/time/1.0/" xmlns:echo="https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom" xmlns:gml="http://www.opengis.net/gml" xmlns:esipdiscovery="http://commons.esipfed.org/ns/discovery/1.2/" xmlns:os="http://a9.com/-/spec/opensearch/1.1/" esipdiscovery:version="1.2">
          <updated>2014-07-18T13:44:46.405Z</updated>
          <id>https://api.echo.nasa.gov/catalog-rest/echo_catalog/granules.atom?page_num=1&amp;page_size=10&amp;bounding_box=30%2C30%2C40%2C40</id>
          <title type="text">CMR granule metadata</title>
        </feed>
  recorded_at: Fri, 18 Jul 2014 13:44:46 GMT
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?page_num=1&page_size=10&provider=OS_PROV_1&temporal=2001-01-01T22:00:00Z,2001-01-01T23:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - echo-token-here
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '1'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
      - '"349ddc[...]
[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?page_num=1&page_size=10&short_name=ShortNameSearchTesting1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - echo-token-here
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '1'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
      - '"b12cd137dcb268304c2d91bf0198b52b"'
      [...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?page_num=1&page_size=10&short_name=bogus
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - echo-token-here
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '0'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
      - '"3d9671f2fd74f80cd725099e68729255"'
      Content-Type:
      - application/atom+xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <feed xmlns="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:georss="http://www.georss.org/georss/10" xmlns:time="http://a9.com/-/opensearch/extensions/time/1.0/" xmlns:echo="https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom" xmlns:gml="http://www.opengis.net/gml" xmlns:esipdiscovery="http://commons.esipfed.org/ns/discovery/1.2/" xmlns:os="http://a9.com/-/spec/opensearch/1.1/" esipdiscovery:version="1.2">
          <updated>2014-07-18T13:44:55.888Z</updated>
          <id>https://api.echo.nasa.gov/catalog-rest/echo_catalog/granules.atom?short_name=bogus&amp;page_num=1&amp;page_size=10</id>
          <title type="text">CMR granule metadata</title>
        </feed>
  recorded_at: Fri, 18 Jul 2014 13:44:55 GMT
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?page_num=1&page_size=10&version=99
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - echo-token-here
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '1'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
      - '"d705e09943bb7d4eb3a40d6da066205b"'
      Content-Type:
      - ap[...]
[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?page_num=1&page_size=2&short_name=PagingGranuleSearchTesting1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - echo-token-here
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '3'
      CMR-Took:
      - '3'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'false'
      Etag:
      - '"8e0e1e8c958a1cf36835e17d45c3047a"'
      Content-Type:
      - application/atom+xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <feed xmlns="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:georss="http://www.georss.org/georss/10" xmlns:time="http://a9.com/-/opensearch/ext[...]
[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?page_num=1&page_size=10&short_name=UrlGranuleTesting1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - echo-token-here
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '1'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
      - '"3db02d7756bf42223b1304a1e6242658"'
      Conte[...]
[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?page_num=1&page_size=10&short_name=noresultsever
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - echo-token-here
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '0'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
      - '"4112214e9a7cadaaa647f02dc2746fc4"'
      Content-Type:
      - application/atom+xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <feed xmlns="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:georss="http://www.georss.org/georss/10" xmlns:time="http://a9.com/-/opensearch/extensions/time/1.0/" xmlns:echo="https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom" xmlns:gml="http://www.opengis.net/gml" xmlns:esipdiscovery="http://commons.esipfed.org/ns/discovery/1.2/" xmlns:os="http://a9.com/-/spec/opensearch/1.1/" esipdiscovery:version="1.2">
          <updated>2014-07-18T13:45:03.271Z</updated>
          <id>https://api.echo.nasa.gov/catalog-rest/echo_catalog/granules.atom?short_name=noresultsever&amp;page_num=1&amp;page_size=10</id>
          <title type="text">CMR granule metadata</title>
        </feed>
  recorded_at: Fri, 18 Jul 2014 13:45:03 GMT
recorded_with: VCR 2.9.2
