---
http_interactions:
- request:
    method: post
    uri: https://api.echo.nasa.gov/echo-rest//tokens
    body:
      encoding: US-ASCII
      string: |-
        <token>
                  <username>guest</username>
                  <password>guest@echo.nasa.gov</password>
                  <client_id>none-supplied-opensearch-dev</client_id>
                  <user_ip_address>0.0.0.0</user_ip_address>
                </token>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.echo.nasa.gov/echo-rest/tokens/echo-token-here?clientId=unknown
      Content-Type:
      - application/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <token>
          <id>61B0536E-0676-72BA-5552-FABD1CDB4615</id>
          <username>guest</username>
          <client_id>none-supplied-opensearch-dev</client_id>
          <user_ip_address>0.0.0.0</user_ip_address>
        </token>
  recorded_at: Fri, 18 Jul 2014 13:46:19 GMT
- request:
    method: get
    uri: https://api.echo.nasa.gov/catalog-rest//echo_catalog/granules.atom?page_num=1&page_size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - echo-token-here
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '31'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'false'
      Etag:
      - '"f87c58548788a57273976985a81220e2"'
      Content-Type:
      - application/atom+xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <feed xmlns="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:georss="http://www.georss.org/georss/10" xmlns:time="http://a9.com/-/opensearch/extensions/time/1.0/" xmlns:echo="https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom" xmlns:gml="http://www.opengis.net/gml" xmlns:esipdiscovery="http://commons.esipfed.org/ns/discovery/1.2/" xmlns:os="http://a9.com/-/spec/opensearch/1.1/" esipdiscovery:version="1.2">
          <updated>2014-07-18T13:46:20.020Z</updated>
          <id>https://api.echo.nasa.gov/catalog-rest/echo_catalog/granules.atom?page_num=1&amp;page_size=10</id>
          <title type="text">CMR granule metadata</title>
          <entry>
            <id>G1065-CWIC_1</id>
            <title type="text">G1</title>
            <updated>1971-12-31T19:00:00-05:00</updated>
            <echo:datasetId>Unique dataset xyz</echo:datasetId>
            <echo:producerGranuleId>G1</echo:producerGranuleId>
            <echo:granuleSizeMB>14.0262</echo:granuleSizeMB>
            <echo:originalFormat>ECHO10</echo:originalFormat>
            <echo:dataCenter>CWIC_1</echo:dataCenter>
            <time:start>1970-12-31T19:00:00-05:00</time:start>
            <time:end>1971-12-31T19:00:00-05:00</time:end>
            <link href="www.example.com/resource.xml" hreflang="en-US" title="Metadata (Granule Guide)" rel="http://esipfed.org/ns/fedsearch/1.1/metadata#"/>
            <echo:onlineAccessFlag>false</echo:onlineAccessFlag>
            <echo:browseFlag>false</echo:browseFlag>
            <echo:dayNightFlag>UNSPECIFIED</echo:dayNightFlag>
          </entry>
          <entry>
            <id>G1000000016-OS_PROV_1</id>
            <title type="text">CoolGranule1</title>
            <updated>1999-12-31T19:00:00-05:00</updated>
            <echo:datasetId>Cool Dataset</echo:datasetId>
            <echo:producerGranuleId>CoolGranule1</echo:producerGranuleId>
            <echo:granuleSizeMB>14.0262</echo:granuleSizeMB>
            <echo:originalFormat>ECHO10</echo:originalFormat>
            <echo:dataCe[...]
- request:
    method: get
    uri: https://api.echo.nasa.gov/catalog-rest//echo_catalog/datasets.atom?page_num=1&page_size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - echo-token-here
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '36'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'false'
      Etag:
      - '"22af6c257427e7c03331bfde532e11b7"'
      Content-Type:
      - application/atom+xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <feed xmlns="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:georss="http://www.georss.org/georss/10" xmlns:time="http://a9.com/-/opensearch/extensions/time/1.0/" xmlns:echo="https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom" xmlns:gml="http://www.opengis.net/gml" xmlns:esipdiscovery="http://commons.esipfed.org/ns/discovery/1.2/" xmlns:os="http://a9.com/-/spec/opensearch/1.1/" esipdiscovery:version="1.2">
          <updated>2014-07-18T13:46:31.000Z</updated>
          <id>https://api.echo.nasa.gov/catalog-rest/echo_catalog/datasets.atom?page_num=1&amp;page_size=10</id>
          <title type="text">CMR dataset metadata</title>
          <entry>
            <id>C1000000021-OS_PROV_1</id>
            <title type="text">Cool Dataset</title>
            <summary type="text">This is a description of a cool dataset</summary>
            <updated>1999-12-31T19:00:00-05:00</updated>
            <echo:datasetId>Cool Dataset</echo:datasetId>
            <echo:shortName>CoolDataset</echo:shortName>
            <echo:versionId>1</echo:versionId>
            <echo:originalFormat>ECHO10</echo:originalFormat>
            <echo:dataCenter>OS_PROV_1</echo:dataCenter>
            <echo:archiveCenter>OS_PROV1</echo:archiveCenter>
            <echo:onlineAccessFlag>false</echo:onlineAccessFlag>
            <echo:browseFlag>false</echo:browseFlag>
          </entry>
          <entry>
            <id>C1000000004-OS_PROV_2</id>
            <title type="text">DC dataset for open search</title>
            <summary type="text">DC gran OPENSEARCHDC</summary>
            <updated>1999-12-31T19:00:00-05:00</updated>
            <echo:datasetId>DC dataset for open search</echo:datasetId>
            <[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?page_num=1&page_size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Cmr-Hits:
      - '165372300'
      Cmr-Took:
      - '3302'
      Content-Type:
      - application/atom+xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><feed xmlns:os="http://a9.com/-/spec/opensearch/1.1/"
        xmlns:georss="http://www.georss.org/georss/10" xmlns="http://www.w3.org/2005/Atom"
        xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:echo="https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom"
        xmlns:esipdiscovery="http://commons.esipfed.org/ns/discovery/1.2/" xmlns:gml="http://www.opengis.net/gml"
        esipdiscovery:version="1.2" xmlns:time="http://a9.com/-/opensearch/extensions/time/1.0/"><updated>2015-03-01T02:51:37.135Z</updated><id>https://cmr.earthdata.nasa.gov:443/search/granules.atom?page_num=1&amp;page_size=10</id><title
        type="text">ECHO granule metadata</title><entry><id>G181127451-ASF</id><title
        type="text">cm1449</title><updated>2008-06-05T19:47:13.000Z</updated><echo:datasetId>AIRSAR_POLSAR_FRAME</echo:datasetId><echo:originalFormat>ECHO10</echo:originalFormat><echo:dataCenter>ASF</echo:dataCenter><time:start>1990-03-02T00:00:00Z</time:start><time:end>1990-03-02T23:59:59Z</time:end><link
        href="http://airsar.asf.alaska.edu/data/cm/cm1449" hreflang="en-US" rel="http://esipfed.org/ns/fedsearch/1.1/data#"></link><link
        href="http://pstor.aadn.alaska.edu/browse/AIRSAR_POLSAR_FRAME/cm1449.gif"
        hreflang="en-US" rel="http://esipfed.org/ns/fedsearch/1.1/browse#" length="0"></link><link
        href="https://ursa.asfdaac.alaska.edu/cgi-bin/login/guest/" hreflang="en-US"
        title="The ASF URSA Ordering Interface" rel="http://esipfed.org/ns/fedsearch/1.1/data#"
        inherited="true"><echo:inherited></echo:inherited></link><echo:coordinateSystem>GEODETIC</echo:coordinateSystem><georss:polygon>37.578152
        -118.956772 37.619373 -118.899483 37.679699 -118.969124 37.638515 -119.026566
        37.578152 -118.956772</georss:polygon><echo:onlineAccessFlag>true</echo:onlineAccessFlag><echo:browseFlag>true</echo:browseFlag></entry><entry><id>G181886854-ASF</id><title
        type="text">cm1450</title><updated>2008-06-05T19:47:29.000Z</updated><echo:datasetId>AIRSAR_POLSAR_FRAME</echo:datasetId><echo:originalFormat>ECHO10</echo:originalFormat><echo:dataCenter>ASF</echo:dataCenter><time:s[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.atom?include_has_granules=true&include_tags=org.ceos.wgiss.cwic.*,opensearch.granule.osdd,org.geoss.geoss_data-core,gov.nasa.eosdis,int.esa.fedeo&page_num=1&page_size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - echo-token-here
  response:
    status:
      code: 200
      message: OK
    headers:
      Cmr-Hits:
      - '3998'
      Cmr-Took:
      - '18'
      Content-Type:
      - application/atom+xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><feed xmlns:os=\"http://a9.com/-/spec/opensearch/1.1/\"
        xmlns:georss=\"http://www.georss.org/georss/10\" xmlns=\"http://www.w3.org/2005/Atom\"
        xmlns:dc=\"http://purl.org/dc[...]
- request:
    method: get
    uri: http://api.geonames.org/searchJSON?maxRows=1&q=dougopolis&username=echo_reverb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalResultsCount":0,"geonames":[]}'
  recorded_at: Thu, 04 Feb 2016 14:56:01 GMT
recorded_with: VCR 2.9.2
