---
http_interactions:
- request:
    method: post
    uri: https://api.echo.nasa.gov/echo-rest//tokens
    body:
      encoding: US-ASCII
      string: |-
        <token>
                  <username>guest</username>
                  <password>guest@echo.nasa.gov</password>
                  <client_id>foo-opensearch-dev</client_id>
                  <user_ip_address>0.0.0.0</user_ip_address>
                </token>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.echo.nasa.gov/echo-rest/tokens/echo-token-here?clientId=unknown
      Content-Type:
      - application/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <token>
          <id>10ED4E48-DAFF-2DD2-89F3-70877EF58A5B</id>
          <username>guest</username>
          <client_id>foo-opensearch-dev</client_id>
          <user_ip_address>0.0.0.0</user_ip_address>
        </token>
  recorded_at: Fri, 18 Jul 2014 13:45:20 GMT
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?page_num=1&page_size=10&short_name=NoTraversalGranuleTesting1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - echo-token-here
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '1'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'true'
      Etag:
      - '"3a1e722de7f85bdb1d2bd5ec10e619d9"'
      Content-Type:
      - application/atom+xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <feed xmlns="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:georss="http://www.georss.org/georss/10" xmlns:time="http://a9.com/-/opensearch/extensions/time/1.0/" xmlns:echo="https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom" xmlns:gml="http://www.opengis.net/gml" xmlns:esipdiscovery="http://commons.esipfed.org/ns/discovery/1.2/" xmlns:os="http://a9.com/-/spec/opensearch/1.1/" esipdiscovery:version="1.2">
          <updated>2014-07-18T13:45:20.635Z</updated>
          <id>https://api.echo.nasa.gov/catalog-rest/echo_catalog/granules.atom?short_name=NoTraversalGranuleTesting1&amp;page_num=1&amp;page_size=10</id>
          <title type="text">CMR granule metadata</title>
          <entry>
            <id>G1000000012-OS_PROV_1</id>
            <title type="text">NoTraversalGranuleTesting1</title>
            <updated>1999-12-31T19:00:00-05:00</updated>
            <echo:datasetId>No Trav Granule Dataset 1</echo:datasetId>
            <echo:producerGranuleId>NoTraversalGranuleTesting1</echo:producerGranuleId>
            <echo:granuleSizeMB>14.0262</echo:granuleSizeMB>
            <echo:originalFormat>ECHO10</echo:originalFormat>
            <echo:dataCenter>OS_PROV_1</echo:dataCenter>
            <echo:onlineAccessFlag>false</echo:onlineAccessFlag>
            <echo:browseFlag>false</echo:browseFlag>
            <echo:dayNightFlag>UNSPECIFIED</echo:dayNightFlag>
          </entry>
        </feed>
  recorded_at: Fri, 18 Jul 2014 13:45:20 GMT
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?page_num=1&page_size=2&short_name=TraversalGranuleTesting1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - echo-token-here
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '3'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'false'
      Etag:
      - '"706be53f9d8de356572665876497741f"'
     [...]
[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?page_num=1&page_size=3&short_name=LastCursorDataset1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - echo-token-here
  response:
    status:
      code: 200
      message: OK
    headers:
      CMR-Hits:
      - '7'
      Echo-Hits-Estimated:
      - 'false'
      Echo-Cursor-At-End:
      - 'false'
      Etag:
      - '"70cbe8ab537de77443f478300c4b729f"'
      Conte[...]
[...]
