---
http_interactions:
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?page_num=1&page_size=10&short_name=AST_L1B
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - cmr-open-search
  response:
    status:
      code: 200
      message: OK
    headers:
      Cmr-Hits:
      - '3172006'
      Cmr-Request-Id:
      - 71426db8-46c9-4b02-95f7-1dac0dc0d7d2
      Cmr-Took:
      - '347'
      Content-Type:
      - application/atom+xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8"?><feed xmlns:os="http://a9.com/-/spec/opensearch/1.1/"
        xmlns:georss="http://www.georss.org/georss/10" xmlns="http://www.w3.org/2005/Atom"
        xmlns:dc="http://purl.org/dc/terms/" xmlns:echo="https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom"
        xmlns:esipdiscovery="http://commons.esipfed.org/ns/discovery/1.2/" xmlns:gml="http://www.opengis.net/gml"
        esipdiscovery:version="1.2" xmlns:time="http://a9.com/-/opensearch/extensions/time/1.0/"><updated>2018-02-05T20:43:47.690Z</updated><id>https://cmr.earthdata.nasa.gov:443/search/granules.atom?short_name=AST_L1B&amp;page_num=1&amp;page_size=10</id><title
        type="text">ECHO granule metadata</title><entry><id>G1299920448-LPDAAC_ECS</id><title
        type="text">SC:AST_L1B.003:2006227720</title><updated>2016-11-24T14:22:51.061Z</updated><echo:datasetId>ASTER
        L1B Registered Radiance at the Sensor V003</echo:datasetId><echo:producerGranuleId>AST_L1A#003_03042000203404_03232002054831.hdf</echo:producerGranuleId><echo:granuleSizeMB>5.88895</echo:granuleSizeMB><echo:originalFormat>ECHO10</echo:originalFormat><echo:dataCenter>LPDAAC_ECS</echo:dataCenter><time:start>2000-03-04T20:34:04.000Z</time:start><time:end>2000-03-04T20:34:04.000Z</time:end><link
        rel="http://esipfed.org/ns/fedsearch/1.1/browse#" type="image/jpeg" hreflang="en-US"
        href="http://e4ftl01.cr.usgs.gov//WORKING/BRWS/Browse.001/2007.08.16/Browse_00103042000203404_20070816110134_26404.1.TIR.jpg"></link><link
        inherited="true" rel="http://esipfed.org/ns/fedsearch/1.1/metadata#" hreflang="en-US"
        href="http://dx.doi.org/10.5067/ASTER/AST_L1B.003"><echo:inherited></echo:inherited></link><link
        inherited="true" rel="http://esipfed.org/ns/fedsearch/1.1/metadata#" hreflang="en-US"
        href="https://lpdaac.usgs.gov"><echo:inherited></echo:inherited></link><link
        inherited="true" rel="http://esipfed.org/ns/fedsearch/1.1/metadata#" hreflang="en-US"
        href="http://asterweb.jpl.nasa.gov/"><echo:inherited></echo:inherited></link><link
        inherited="true" rel="http://esipfed.org/ns/fedsearch/1.1/data#" hreflang="en-US"
        href="https://search.earthdata.nasa.gov/search?q=AST_L1B+V003"><echo:inherited></echo:inherited></link><echo:coordinateSystem>GEODETIC</echo:coordinateSystem><georss:polygon>-77.6227
        169.9078 -78.0163 171.9493 -77.5948 173.696 -77.214 171.6693 -77.6227 169.9078</georss:polygon><echo:onlineAccessFlag>false</echo:onlineAccessFlag><echo:browseFlag>true</echo:browseFlag><echo:dayNightFlag>DAY</echo:dayNightFlag><echo:cloudCover>100.0</echo:cloudCover></entry><entry><id>G1319490823-LPDAAC_ECS</id><title
        type="text">SC:AST_L1B.003:2006227722</title><updated>2016-10-30T14:47:29.002Z</updated><echo:datasetId>ASTER
        L1B Registered Radiance at the Sensor V003</echo:datasetId><echo:producerGranuleId>AST_L1A#003_03042000203413_03232002054833.hdf</echo:producerGranuleId><echo:granuleSizeMB>5.88939</echo:granuleSizeMB><echo:originalFormat>ECHO10</echo:originalFormat><echo:dataCenter>LPDAAC_ECS</echo:dataCenter><ti[...]
