---
http_interactions:
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?instrument=CZCS&offset=0&page_size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - cmr-open-search
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=utf-8
      Cmr-Hits:
      - '95268'
      Cmr-Took:
      - '3277'
      Cmr-Request-Id:
      - 342cff01-d0e9-4307-907a-e5fcb1ce3a34
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><feed xmlns:os=\"http://a9.com/-/spec/opensearch/1.1/\"
        xmlns:georss=\"http://www.georss.org/georss/10\" xmlns=\"http://www.w3.org/2005/Atom\"
        xmlns:dc=\"http://purl.org/dc/terms/\" xmlns:echo=\"https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom\"
        xmlns:esipdiscovery=\"http://commons.esipfed.org/ns/discovery/1.2/\" xmlns:gml=\"http://www.opengis.net/gml\"
        esipdiscovery:version=\"1.2\" xmlns:time=\"http://a9.com/-/opensearch/extensions/time/1.0/\"><updated>2016-09-28T19:12:06.551Z</updated><id>https://cmr.earthdata.nasa.gov:443/search/granules.atom?page_size=10&amp;offset=0&amp;instrument=CZCS</id><title
        type=\"text\">ECHO granule metadata</title><entry><id>G1220194852-OB_DAAC</id><title
        type=\"text\">C1978303.L3m_DAY_RRS_Rrs_670_9km.nc</title><updated>2015-12-09T01:11:19.000Z</updated><echo:datasetId>CZCS_L3m_RRS</echo:datasetId><echo:producerGranuleId>C1978303.L3m_DAY_RRS_Rrs_670_9km.nc</echo:producerGranuleId><echo:granuleSizeMB>0.250829</echo:granuleSizeMB><echo:originalFormat>ECHO10</echo:originalFormat><echo:dataCenter>OB_DAAC</echo:dataCenter><time:start>1978-10-30T00:00:00.000Z</time:start><time:end>1978-10-30T23:59:59.000Z</time:end><link
        rel=\"http://esipfed.org/ns/fedsearch/1.1/data#\" hreflang=\"en-US\" href=\"http://oceandata.sci.gsfc.nasa.gov/cmr/getfile/C1978303.L3m_DAY_RRS_Rrs_670_9km.nc\"></link><link
        rel=\"http://esipfed.org/ns/fedsearch/1.1/metadata#\" type=\"application/x-netcdf\"
        title=\"(GET DATA : OPENDAP DATA (DODS))\" hreflang=\"en-US\" href=\"http://oceandata.sci.gsfc.nasa.gov/opendap/CZCS/L3SMI/1978/303/C1978303.L3m_DAY_RRS_Rrs_670_9km.nc\"></link><link
        inherited=\"true\" rel=\"http://esipfed.org/ns/fedsearch/1.1/data#\" type=\"GET
        DATA\" title=\"OB.DAAC Data Distribution Website for CZCS L3M Remote-Sensing
        Reflectance (RRS) Product\" hreflang=\"en-US\" href=\"http://oceandata.sci.gsfc.nasa.gov/CZCS/L3SMI/\"><echo:inherited></echo:inherited></link><link
        inherited=\"true\" rel=\"http://esipfed.org/ns/fedsearch/1.1/data#\" type=\"GET
        DATA : OPENDAP DATA (DODS)\" title=\"OPeNDAP Site for CZCS Small Mapped Image
        (SMI) Product Suite\" hreflang=\"en-US\" href=\"http://oceandata.sci.gsfc.nasa.gov/opendap/CZCS/L3SMI/\"><echo:inherited></echo:inherited></link><link
        inherited=\"true\" rel=\"http://esipfed.org/ns/fedsearch/1.1/metadata#\" title=\"Ocean
        Biology Processing Group (OBPG) Ho[...]
