---
http_interactions:
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?offset=0&page_size=10&provider=USGS_EROS&short_name=Landsat_8_OLI_TIRS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - cmr-open-search
  response:
    status:
      code: 200
      message: OK
    headers:
      Cmr-Hits:
      - '969989'
      Cmr-Request-Id:
      - 2d3f14ff-e948-4e75-8640-921485f484ba
      Cmr-Took:
      - '192'
      Content-Type:
      - application/atom+xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8"?><feed xmlns:os="http://a9.com/-/spec/opensearch/1.1/"
        xmlns:georss="http://www.georss.org/georss/10" xmlns="http://www.w3.org/2005/Atom"
        xmlns:dc="http://purl.org/dc/terms/" xmlns:echo="https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom"
        xmlns:esipdiscovery="http://commons.esipfed.org/ns/discovery/1.2/" xmlns:gml="http://www.opengis.net/gml"
        esipdiscovery:version="1.2" xmlns:time="http://a9.com/-/opensearch/extensions/time/1.0/"><updated>2017-04-27T13:54:41.235Z</updated><id>https://cmr.earthdata.nasa.gov:443/search/granules.atom?short_name=Landsat_8_OLI_TIRS&amp;provider=USGS_EROS&amp;page_size=10&amp;offset=0</id><title
        type="text">ECHO granule metadata</title><entry><id>G185201166-USGS_EROS</id><title
        type="text">LC80980112013101LGN01</title><updated>2017-02-07T04:36:09.000Z</updated><echo:datasetId>Landsat
        8 Operational Land Imager (OLI)_Thermal Infared Sensor (TIRS) V1</echo:datasetId><echo:originalFormat>ECHO10</echo:originalFormat><echo:dataCenter>USGS_EROS</echo:dataCenter><time:start>2013-04-11T00:14:30.000Z</time:start><time:end>2013-04-11T00:15:00.000Z</time:end><link
        rel="http://esipfed.org/ns/fedsearch/1.1/data#" type="application/x-gzip"
        title="Download Link" hreflang="en-US" href="https://earthexplorer.usgs.gov/download/options/4923/LC80980112013101LGN01?node=EC"></link><link
        rel="http://esipfed.org/ns/fedsearch/1.1/browse#" hreflang="en-US" href="https://earthexplorer.usgs.gov/browse/landsat_8/2013/098/011/LC80980112013101LGN01.jpg"></link><link
        inherited="true" rel="http://esipfed.org/ns/fedsearch/1.1/documentation#"
        hreflang="en-US" href="https://lta.cr.usgs.gov/L8"><echo:inherited></echo:inherited></link><echo:coordinateSystem>GEODETIC</echo:coordinateSystem><georss:polygon>69.20139
        169.46215 68.49027 173.75305 69.95283 175.8931 70.70529 171.35329 69.20139
        169.46215</georss:polygon><echo:onlineAccessFlag>true</echo:onlineAccessFlag><echo:browseFlag>true</echo:browseFlag><echo:dayNightFlag>DAY</echo:dayNightFlag></entry><entry><id>G185196733-USGS_EROS</id><title
        type="text">LC80980122013101LGN01</title><updated>2017-02-07T04:26:49.000Z</updated><echo:datasetId>Landsat
        8 Operational Land Imager (OLI)_Thermal Infared Sensor (TIRS) V1</echo:datasetId><echo:originalFormat>ECHO10</echo:originalFormat><echo:dataCenter>USGS_EROS</echo:dataCenter><time:start>2013-04-11T00:14:54.000Z</time:start><time:end>2013-04-11T00:15:23.000Z</time:end><link
        rel="http://esipfed.[...]
[...]
