---
http_interactions:
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?collection_concept_id=C90758174-LAADS&page_num=1&page_size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - cmr-open-search
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=utf-8
      Cmr-Hits:
      - '971348'
      Cmr-Took:
      - '220'
      Cmr-Request-Id:
      - 02119290-8093-4272-a4cc-5e748a004b04
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8"?><feed xmlns:os="http://a9.com/-/spec/opensearch/1.1/"
        xmlns:georss="http://www.georss.org/georss/10" xmlns="http://www.w3.org/2005/Atom"
        xmlns:dc="http://purl.org/dc/terms/" xmlns:echo="https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom"
        xmlns:esipdiscovery="http://commons.esipfed.org/ns/discovery/1.2/" xmlns:gml="http://www.opengis.net/gml"
        esipdiscovery:version="1.2" xmlns:time="http://a9.com/-/opensearch/extensions/time/1.0/"><updated>2017-04-13T23:11:15.632Z</updated><id>https://cmr.earthdata.nasa.gov:443/search/granules.atom?collection_concept_id=C90758174-LAADS&amp;page_num=1&amp;page_size=10</id><title
        type="text">ECHO granule metadata</title><entry><id>G92789465-LAADS</id><title
        type="text">LAADS:4847654</title><updated>2010-02-02T03:56:37.983Z</updated><echo:datasetId>MODIS/Terra
        Calibrated Radiances 5-Min L1B Swath 250m V005</echo:datasetId><echo:producerGranuleId>MOD02QKM.A2000055.0005.005.2010029230803.hdf</echo:producerGranuleId><echo:originalFormat>ECHO10</echo:originalFormat><echo:dataCenter>LAADS</echo:dataCenter><time:start>2000-02-24T00:05:00.000Z</time:start><time:end>2000-02-24T00:10:00.000Z</time:end><link
        rel="http://esipfed.org/ns/fedsearch/1.1/data#" type="application/x-hdfeos"
        hreflang="en-US" href="ftp://ladsftp.nascom.nasa.gov/allData/5/MOD02QKM/2000/055/MOD02QKM.A2000055.0005.005.2010029230803.hdf"></link><link
        length="602271" rel="http://esipfed.org/ns/fedsearch/1.1/browse#" hreflang="en-US"
        href="ftp://ladsftp.nascom.nasa.gov/allData/5/MOBRGB/2000/055/MOBRGB.A2000055.0005.005.2006253053718.jpg"></link><link
        inherited="true" rel="http://esipfed.org/ns/fedsearch/1.1/documentation#"
        hreflang="en-US" href="http://modaps.nascom.nasa.gov/services/about/product_descriptions_terra.html"><echo:inherited></echo:inherited></link><link
        inherited="true" rel="http://esipfed.org/ns/fedsearch/1.1/data#" hreflang="en-US"
        href="https://ladsweb.nascom.nasa.gov/data/search.html"><echo:inherited></echo:inherited></link><link
        inherited="true" rel="http://esipfed.org/ns/fedsearch/1.1/data#" hreflang="en-US"
        href="ftp://ladsweb.nascom.nasa.gov/allData/5/MOD02QKM/"><echo:inherited></echo:inherited></link><link
        inherited="true" rel="http://esipfed.org/ns/fedsearch/1.1/documentation#"
        hreflang="en-US" href="http://mcst.gsfc.nasa.gov/l1b/product-information"><echo:inherited></echo:inherited></link><echo:coordinateSystem>GEODETIC</echo:coordinateSystem><georss:polygon>76.501732
        146.929625 66.83662 -145.556275 70.511238 -94.81568 84.145074 10.005589 76.501732
        146.929625</georss:polygon><echo:onlineAccessFlag>true</echo:onlineAccessFlag><echo:browseFlag>true</echo:browseFlag><echo:dayNightFlag>BOTH</echo:dayNightFlag></entry><entry><id>G92800920-LAADS</id><title
        type="text">LAADS:7854688</title><updated>2010-02-02T03:57:38.563Z</updated><echo:datasetId>MODIS/Terra
        Calibrated Radiances 5-Min L1B Swath 250m V005</echo:datasetId><echo:producerGranuleId>MOD02QKM.A2000055.0010.005.2010029231112.hdf</echo:producerGranuleId><echo:originalFormat>ECHO10</echo:originalFormat><echo:dataCenter>LAADS</echo:dataCenter><time:start>2000-02-24T00:10:00.000Z</time:start><time:end>2000-0[...]
