---
http_interactions:
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?page_num=1&page_size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - cmr-open-search
  response:
    status:
      code: 200
      message: OK
    headers:
      Cmr-Hits:
      - '352179336'
      Cmr-Request-Id:
      - 528494b2-e073-434b-b539-38127ae9d5c2
      Cmr-Took:
      - '1988'
      Content-Type:
      - application/atom+xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8"?><feed xmlns:os="http://a9.com/-/spec/opensearch/1.1/"
        xmlns:georss="http://www.georss.org/georss/10" xmlns="http://www.w3.org/2005/Atom"
        xmlns:dc="http://purl.org/dc/terms/" xmlns:echo="https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom"
        xmlns:esipdiscovery="http://commons.esipfed.org/ns/discovery/1.2/" xmlns:gml="http://www.opengis.net/gml"
        esipdiscovery:version="1.2" xmlns:time="http://a9.com/-/opensearch/extensions/time/1.0/"><updated>2018-01-23T15:35:38.447Z</updated><id>https://cmr.earthdata.nasa.gov:443/search/granules.atom?page_num=1&amp;page_size=10</id><title
        type="text">ECHO granule metadata</title><entry><id>G1001055217-ASF</id><title
        type="text">SS_00107_STD_F0373-GEOTIFF</title><updated>2013-08-27T10:39:22.000Z</updated><echo:datasetId>SEASAT_SAR_LEVEL1_GEOTIFF</echo:datasetId><echo:producerGranuleId>SS_00107_STD_F0373</echo:producerGranuleId><echo:granuleSizeMB>262.27</echo:granuleSizeMB><echo:originalFormat>ECHO10</echo:originalFormat><echo:dataCenter>ASF</echo:dataCenter><time:start>1978-07-04T12:06:00.000Z</time:start><time:end>1978-07-04T12:06:15.000Z</time:end><link
        rel="http://esipfed.org/ns/fedsearch/1.1/data#" hreflang="en-US" href="https://datapool.asf.alaska.edu/GEOTIFF/SS/SS_00107_STD_F0373_tif.zip"></link><link
        rel="http://esipfed.org/ns/fedsearch/1.1/browse#" hreflang="en-US" href="https://datapool.asf.alaska.edu/BROWSE/SS/SS_00107_STD_F0373_BROWSE.jpg"></link><link
        inherited="true" rel="http://esipfed.org/ns/fedsearch/1.1/data#" hreflang="en-US"
        href="https://vertex.daac.asf.alaska.edu/"><echo:inherited></echo:inherited></link><echo:orbitCalSpatialDomain
        orbitNumber="107"></echo:orbitCalSpatialDomain><echo:coordinateSystem>GEODETIC</echo:coordinateSystem><georss:polygon>18.3807
        -111.2851 18.7734 -110.3003 19.6319 -110.6602 19.238 -111.6512 18.3807 -111.2851</georss:polygon><echo:onlineAccessFlag>true</echo:onlineAccessFlag><echo:browseFlag>true</echo:browseFlag><echo:dayNightFlag>UNSPECIFIED</echo:dayNightFlag></entry><entry><id>G1206546785-ASF</id><title
        type="text">SS_00107_STD_F0373-L1</title><updated>2013-08-27T10:39:14.000Z</updated><echo:datasetId>SEASAT_SAR_LEVEL1_HDF5</echo:datasetId><echo:producerGranuleId>SS_00107_STD_F0373</echo:producerGranuleId><echo:granuleSizeMB>315.16</echo:granuleSizeMB><echo:originalFormat>ECHO10</echo:originalFormat><echo:dataCenter>ASF</echo:dataCenter><time:start>1978-07-04T12:06:00.000Z</time:start><time:end>1978-07-04T12:06[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/granules.atom?echo_granule_id=G240103476-LAADS&page_num=1&page_size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - cmr-open-search
  response:
    status:
      code: 200
      message: OK
    headers:
      Cmr-Hits:
      - '1'
      Cmr-Request-Id:
      - 2633a965-0650-4164-9ac4-961cdd6478a7
      Cmr-Took:
      - '50'
      Content-Type:
      - application/atom+xml; char[...]
