---
http_interactions:
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.atom?include_has_granules=true&include_tags=org.ceos.wgiss.cwic.*,opensearch.granule.osdd,org.geoss.geoss_data-core,gov.nasa.eosdis,int.esa.fedeo&page_num=1&page_size=10&provider=larc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - cmr-open-search
  response:
    status:
      code: 200
      message: OK
    headers:
      Cmr-Hits:
      - '279'
      Cmr-Request-Id:
      - 3921633c-9ec1-4e95-93e9-f51d8e86c36e
      Cmr-Took:
      - '13'
      Content-Type:
      - application/atom+xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" encoding="UTF-8"?><feed xmlns:os="http://a9.com/-/spec/opensearch/1.1/"
        xmlns:georss="http://www.georss.org/georss/10" xmlns="http://www.w3.org/2005/Atom"
        xmlns:dc="http://purl.org/dc/terms/" xmlns:echo="https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom"
        xmlns:esipdiscovery="http://commons.esipfed.org/ns/discovery/1.2/" xmlns:gml="http://www.opengis.net/gml"
        esipdiscovery:version="1.2" xmlns:time="http://a9.com/-/opensearch/extensions/time/1.0/"><updated>2017-05-29T17:41:39.932Z</updated><id>https://cmr.earthdata.nasa.gov:443/search/collections.atom?provider=larc&amp;include_has_granules=true&amp;include_tags=org.ceos.wgiss.cwic.%2A%2Corg.geoss.geoss_data-core%2Cgov.nasa.eosdis%2Cint.esa.fedeo+&amp;page_num=1&amp;page_size=10</id><title
        type="text">ECHO dataset metadata</title><entry><id>C179031504-LARC</id><title
        type="text">ACRIM III Level 2 Daily Mean Data V001</title><summary type="text">Active
        Cavity Radiometer Irradiance Monitor (ACRIM) III Level 2 Daily Mean Data product
        consists of Level 2 total solar irradiance in the form of daily means gathered
        by the ACRIM III instrument on the ACRIMSAT satellite. The daily means are
        constructed from the shutter cycle results for each day.</summary><updated>1970-01-01T00:00:00.000Z</updated><echo:datasetId>ACRIM
        III Level 2 Daily Mean Data V001</echo:datasetId><echo:shortName>ACR3L2DM</echo:shortName><echo:versionId>1</echo:versionId><echo:originalFormat>DIF10</echo:originalFormat><echo:dataCenter>LARC</echo:dataCenter><echo:archiveCenter>ASDC</echo:archiveCenter><echo:organization>ASDC</echo:organization><time:start>2000-04-05T00:00:00.000Z</time:start><link
        rel="http://esipfed.org/ns/fedsearch/1.1/documentation#" hreflang="en-US"
        href="http://eosweb.larc.nasa.gov/project/acrimIII/acrimIII_table"></link><link
        rel="http://esipfed.org/ns/fedsearch/1.1/documentation#" hreflang="en-US"
        href="http://eospso.gsfc.nasa.gov/atbd-category/36"></link><link rel="http://esipfed.org/ns/fedsearch/1.1/documentation#"
        hreflang="en-US" href="http://acrim.jpl.nasa.gov/"></link><link rel="http://esipfed.org/ns/fedsearch/1.1/data#"
        hreflang="en-US" href="http://reverb.echo.nasa.gov/reverb/#utf8=%E2%9C%93&amp;spatial_map=satellite&amp;spatial_type=rectangle&amp;keywords=ACR3L2DM1"></link><link
        rel="http://esipfed.org/ns/fedsearch/1.1/data#" hreflang="en-US" href="ftp://l5eil01.larc.nasa.gov/ACRIM_III/ACR3L2DM.001/"></link><link
        rel="http://esipfed.org/ns/fedsearch/1.1/data#" hreflang="en-US" href="http://reverb.echo.nasa.gov/reverb/#utf8=%E2%9C%93&amp;spatial_map=satellite&amp;spatial_type=rectangle&amp;keywords=ACRIM"></link><echo:coordinateSystem>CARTESIAN</echo:coordinateSystem><echo:orbitParameters></echo:orbitParameters><georss:box>-90
        -180 90 180</georss:box><echo:difId>ACR3L2DM_1</echo:difId><echo:onlineAccessFlag>true</echo:onlineAccessFlag><echo:browseFlag>false</echo:browseFlag><echo:hasGranules>true</echo:hasGranules><echo:tag><echo:tagKey>org.ceos.wgiss.cwic.granules.test</echo:tagKey></echo:tag><echo:tag><echo:tagKey>org.ceos.wgiss.cwic.granules.provider</echo:tagKey><echo:data>"NASA"</echo:data></echo:tag><echo:tag><echo:tagKey>org.ceos.wgiss.cwic.granules.native_id</echo:tagKey><echo:data>"ACRIM
        III Level 2 Daily Mean Data V001"</echo:data></echo:tag><echo:tag><echo:tagKey>org.geoss.geoss_data-core</echo:tagKey></echo:tag><echo:tag><echo:tagKey>gov.nasa.eosdis</echo:tagKey></echo:tag></entry><entry><id>C61787524-LARC</id><title
        type="text">ACRIM III Level 2 Shutter Cycle Data V001</title><summary type="text">Active
        Cavity Radiometer Irradiance[...]
