---
http_interactions:
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.atom?include_has_granules=true&include_tags=org.ceos.wgiss.cwic.*,opensearch.granule.osdd,org.geoss.geoss_data-core,gov.nasa.eosdis,int.esa.fedeo&offset=0&page_size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - cmr-open-search
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=utf-8
      Cmr-Hits:
      - '32279'
      Cmr-Took:
      - '13'
      Cmr-Request-Id:
      - 3102717e-6c93-4b0e-a599-fc5fb9714730
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><feed xmlns:os=\"http://a9.com/-/spec/opensearch/1.1/\"
        xmlns:georss=\"http://www.georss.org/georss/10\" xmlns=\"http://www.w3.org/2005/Atom\"
        xmlns:dc=\"http://purl.org/dc/terms/\" xmlns:echo=\"https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom\"
        xmlns:esipdiscovery=\"http://commons.esipfed.org/ns/discovery/1.2/\" xmlns:gml=\"http://www.opengis.net/gml\"
        esipdiscovery:version=\"1.2\" xmlns:time=\"http://a9.com/-/opensearch/extensions/time/1.0/\"><updated>2016-09-28T17:06:24.571Z</updated><id>https://cmr.earthdata.nasa.gov:443/search/collections.atom?include_has_granules=true&amp;include_tags=org.ceos.wgiss.cwic.%2A%2Corg.geoss.geoss_data-core&amp;page_size=10&amp;offset=0</id><title
        type=\"text\">ECHO dataset metadata</title><entry><id>C1214621811-SCIOPS</id><title
        type=\"text\">(SCI) The Bowen Island GeoLibrary (Data Collection)</title><summary
        type=\"text\">The Bowen Island GeoLibrary is a collection of map, text and
        image-based\n      information that reflects what we currently know about
        our island and about\n      ourselves as a community.\n      \n      It includes
        an atlas of biophysical and land use planning maps, and a\n      repository
        of key documents, including the Bowen Island Official Community\n      Plan,
        the Green Zone report, the State of Bowen Island Report, the Crown Lands\n
        \     Report and more.\n      \n      The Bowen Island Sustainability Project
        (BISP) was initiated in June 2000 as an\n      extension of work conducted
        by the Capilano College Environmental Science\n      Program.\n      \n      BISP
        proceeded with direct funding by the Real Estate Foundation, and through\n
        \     partnerships with Bowen Island Municipality, the Geological Survey of
        Canada\n      and Capilano College. The deliverables from this project are
        two-fold: a) State\n      of Bowen Island (SoBI) report and b) Bowen Island
        Information System. The Bowen\n      Island Information System includes four
        subdeliverables: a database catalogue,\n      Geographic Information System
        (GIS) atlas, maps &amp; spatial data for the SoBI\n      report, and an information
        system summary report.\n      \n      Through the deliverables, the Bowen
        Island Sustainability Project will assist\n      the community, the municipality,
        and any future initiatives in evaluating and\n      facilitating the decision
        making processes that leads to more sustainable\n      communities.The purpose
   [...]
