---
http_interactions:
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.atom?include_has_granules=true&include_tags=org.ceos.wgiss.cwic.*,opensearch.granule.osdd,org.geoss.geoss_data-core,gov.nasa.eosdis,int.esa.fedeo&offset=12&page_size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - cmr-open-search
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=utf-8
      Cmr-Hits:
      - '31583'
      Cmr-Took:
      - '15'
      Cmr-Request-Id:
      - eea75332-12f8-4d55-9556-20935c33584e
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><feed xmlns:os=\"http://a9.com/-/spec/opensearch/1.1/\"
        xmlns:georss=\"http://www.georss.org/georss/10\" xmlns=\"http://www.w3.org/2005/Atom\"
        xmlns:dc=\"http://purl.org/dc/terms/\" xmlns:echo=\"https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom\"
        xmlns:esipdiscovery=\"http://commons.esipfed.org/ns/discovery/1.2/\" xmlns:gml=\"http://www.opengis.net/gml\"
        esipdiscovery:version=\"1.2\" xmlns:time=\"http://a9.com/-/opensearch/extensions/time/1.0/\"><updated>2016-06-14T15:56:21.469Z</updated><id>https://cmr.earthdata.nasa.gov:443/search/collections.atom?include_has_granules=true&amp;include_tags=org.ceos.wgiss.cwic.%2A&amp;page_size=10&amp;offset=12</id><title
        type=\"text\">ECHO dataset metadata</title><entry><id>C1214611011-SCIOPS</id><title
        type=\"text\">           Computer Oceanographic Atlas of Newfoundland Basin
        and Labrador Sea         </title><summary type=\"text\">The Computer Atlas
        of the Newfoundland Basin and Labrador Sea was\n      designed to make simple,
        fast and reliable access to large volumes of\n      historical and real time
        oceanographic data. The choice of the Newfoundland\n      Basin and Labrador
        Sea was motivated by their importance in the entire North\n      Atlantic
        circulation and water mass formation, the existence of various water\n      masses
        and sharp fronts, indications[...]
