---
http_interactions:
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.atom?include_has_granules=true&include_tags=org.ceos.wgiss.cwic.*,opensearch.granule.osdd,org.geoss.geoss_data-core,gov.nasa.eosdis,int.esa.fedeo&page_num=2&page_size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - cmr-open-search
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=utf-8
      Cmr-Hits:
      - '31583'
      Cmr-Took:
      - '85'
      Cmr-Request-Id:
      - fb285834-0b07-4b41-bb11-c3ef7ef117ce
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><feed xmlns:os=\"http://a9.com/-/spec/opensearch/1.1/\"
        xmlns:georss=\"http://www.georss.org/georss/10\" xmlns=\"http://www.w3.org/2005/Atom\"
        xmlns:dc=\"http://purl.org/dc/terms/\" xmlns:echo=\"https://cmr.earthdata.nasa.gov/search/site/docs/search/api.html#atom\"
        xmlns:esipdiscovery=\"http://commons.esipfed.org/ns/discovery/1.2/\" xmlns:gml=\"http://www.opengis.net/gml\"
        esipdiscovery:version=\"1.2\" xmlns:time=\"http://a9.com/-/opensearch/extensions/time/1.0/\"><updated>2016-06-14T15:56:17.453Z</updated><id>https://cmr.earthdata.nasa.gov:443/search/collections.atom?include_has_granules=true&amp;include_tags=org.ceos.wgiss.cwic.%2A&amp;page_num=2&amp;page_size=10</id><title
        type=\"text\">ECHO dataset metadata</title><entry><id>C1214605943-SCIOPS</id><title
        type=\"text\">           Background Air Pollution Monitoring Network - Measurements
        of Greenhouse Gases (Canada)         </title><summary type=\"text\">This dataset
        includes measurements of greenhouse gases. Variables: CO2\n(all), CH4, CFC's,
        N2O (Alert). The data covers the West Coast-Estevan Point,\nthe East Coast-Sable
        Island, and Arctic-Alert.\n\n         This data is currently applied to the
        analysis of temporal trends in\ngreenhouse gases and atmospheric processes
        related to sources and sinks to\nbetter predict climate impacts and changes.\n\nSpatial
        Data Organization Information -\n\n    Indirect Spatial Reference:\n    Direct
        Spatial Reference: Point (Lat./Long. Coordinates)\nSpatial Reference Information
        -\nHorizontal Coordinate System Definition -\nPlanar -\n\n\n\n\n    Planar
        Coordinate Encoding Method:\n    Coordinate Representation:\n     Abscissa
        Resolution:\n     Ordinate Resolution:\n    Distance and Bearing Representation:\n
        \    Distance Resolution:\n     Bearing Resolution:\n     Bearing Units:\n
        \    Bearing Reference Direction:\n     Bearing Reference Meridian:\n    Planar
        Distance Units:\n\n   Geodetic Model:\n     Horizontal Datum Name:\n    Ellipsoid
        Name:\n    Semi-major Axis:\n    Denominator of Flattening Ratio:</summary><updated>2015-12-02T00:00:00.000Z</updated><echo:datasetId>
        \          Background Air Pollution Monitoring Network - Measurements of Greenhouse
        Gases (Canada)         </echo:datasetId><echo:shortName>CANEMRCCRSBAPMN</echo:shortName><echo:versionId>Not
        provided</echo:versionId><echo:originalFormat>DIF</echo:originalFormat><echo:dataCenter>SCIOPS</echo:dataCenter><echo:organization>CA/EC/MSC</echo:organization><time:start>1975-01-01T00:00:00.000Z</time:start><link
        rel=\"http://esipfed.org/ns/fedsearch/1.1/metadata#\" title=\"\n         GeoConnections
        Discovery Portal. Canada's IDN Node.\n      \" hreflang=\"en-US\" href=\"http://geodiscover.cgdi.ca/\"></link><echo:coordinateSystem>CARTESIAN</echo:coordinateSystem><echo:orbitParameters></echo:orbitParameters><georss:box>43
        -135 82 -59</georss:box><echo:difId>CANEMRCCRSBAPMN</echo:difId><echo:onlineAccessFlag>false</echo:onlineAccessFlag><echo:browseFlag>false</echo:browseFlag><echo:hasGranules>false</echo:hasGranules></entry><entry><id>C1214607533-SCIOPS</id><title
        type=\"text\">           Canadian National Forestry Photograph Collection
        - Atlantic and Petawawa Components         </title><summary type=\"text\">Forestry
        photographs of experimental trials, properties, and prominent\nhistorical
        figures.  The collection consists of several thousand photos of\nhistorical
        significance, most in good condition.\n\n         To document significant
      [...]
